
<% provide(:title, 'Contact') %>
<div class='container-fluid'>
  <div class='row'>
    <div class='contact-us-container col-xs-12'>
      <div class='contact-us col-xs-9 col-sm-7 col-md-6 col-lg-5'>
        <p>
          For questions or comments, write to info@gametiks.com
        </p>
      </div>
    </div>
  </div>
</div>
