<div class='container-fluid splash-main box-shadow-1'>
  <div class='row'>

    <% unless flash.empty? %>
      <div id='flash-messages-container' class='col-xs-8 col-sm-7'>
        <% flash.each do |message_type, message| %>
          <div class="flash-message">
            <%= message %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div id='title-container' class='col-xs-12 col-md-6'>
        <img src='https://d2m6u6shu0evoe.cloudfront.net/images/gametiks_logo.png' class='title-desktop'/>
        <img src='https://d2m6u6shu0evoe.cloudfront.net/images/gametiks_logo_head.png' class='title-mobile'/>
        <img src='https://d2m6u6shu0evoe.cloudfront.net/images/gametiks_condensed.png' id='gametiks-condensed' class='visible-xs'/>
    </div>
    <div id='slideshow-container-block' class='col-xs-12 col-md-6'>
      <div id='slideshow-container-flex'>

      </div>
      <div id='controls-container'>
        <div id='controls'>
          <div id='previous'>
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
          <div id='resume'>
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'staff_pick' %>
    <div id='bottom-row'></div>
  </div>
  <div id='staff-pick-button-container' class='col-xs-5 col-sm-3'>
    <div id='staff-pick-button' class='main-btn gametiks-gradient-cool'>
      STAFF PICK OF THE WEEK
    </div>
    <div id='right-frame'></div>
  </div>
  <div id='splash-buttons-container' class='col-xs-12'>
    <% if !current_user %>
    <div id='group-1' class='col-xs-5 col-sm-4'>
      <div id='left-frame'></div>
      <div id='right-frame'></div>
      <div id='sign-up-buttons-container' class='col-xs-12'>
        <a href='/users/sign_up' class='main-btn gametiks-gradient-cool'>
          SIGN UP WITH EMAIL
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
        </a>
        <a class='main-btn gametiks-gradient-cool' href='/users/auth/facebook' data-confirm="If you have already signed up by email, this will create another account!">
          CONTINUE WITH
          <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <% end %>
    <% if current_user %>
      <div id='group-2' class='col-xs-5 col-sm-4'>
        <div id='gallery-button-container'>
          <% if current_user %>
          <div id='left-frame'></div>
          <% end %>
          <a href='/gallery' id='gallery-button' class='main-btn gametiks-gradient-cool'>
            VISIT GALLERY
            <i class='fa fa-camera fa-2x' aria-hidden='true'></i>
          </a>
        </div>
      </div>
    <% else %>
      <div id='group-2' class='col-xs-4 col-sm-4'>
        <div id='gallery-button-container'>
          <% if current_user %>
          <div id='left-frame'></div>
          <% end %>
          <a href='/gallery' id='gallery-button' class='main-btn gametiks-gradient-cool'>
            VISIT GALLERY
            <i class='fa fa-camera fa-2x' aria-hidden='true'></i>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>

<div class='container-fluid'>
  <div class='row'>
    <div class='elevator-pitch-container'>
      <div class='elevator-pitch'>
        <p>BROWSE HARVESTS AROUND THE GLOBE</p>
      </div>
    </div>
  </div>
  <div class='row'>
    <%= render partial: 'maps/main_map' %>
  </div>
</div>

<script>

    var interval = null;
    var imageIndex = 0;
    var paused = false;
    var resumeActive = false;
    var totalImages = gon.harvestCount;

    $(document).ready(function() {
      $('#staff-pick-button').click(function() {
        const reset = function() {
          clearInterval(interval);
          imageIndex = 0;
          paused = false;
          resumeActive = false;
        }
          const staffPickVisible = ($('#staff-pick-container').css('display') === 'block')
        if (staffPickVisible) {
          $('#staff-pick-container').hide();
          $('#slideshow-container-flex').empty();
          reset();
          $('#resume').css('color', 'rgb(150, 150, 150)');
          setTimeout(runSlideshow, 100);
        } else {
          $('#title-container').fadeOut(10);
          $('#slideshow-container-flex').empty();
          $('#controls-container').hide();
          $('#slideshow-container-block').hide();
          clearInterval(interval);
          $('#staff-pick-container').show();
          $('#bottom-row').hide();
        }
      });
    })

    // function cycles through harvests from most recent to least recent,
    // grabbing one image at a time and updating the index
    // slideshow is viewable on homepage
    var runSlideshow = function() {
      var controls = function() {
        $('#controls-container').show();
      };
      setTimeout(controls, 2000);
      var renderLoadingNotification = function() {
        $('#slideshow-container-flex').html('loading recent harvests');
      };

      var runProgressBar = function() {
        setTimeout(animateBar, 2500);
        function animateBar() {
          if (paused === false) {
            var elem = document.getElementById('progress-bar')
            if (elem !== null) {
              var width = 1;
              var id = setInterval(frame, 10);
              function frame() {
                if (width >= 100) {
                  clearInterval(id);
                } else {
                  width++;
                  elem.style.width = width + '%';
                }
              };
            }
          };
        };
      };

      var getNextImage = function() {
        $.ajax({
          type: 'GET',
          url: '/slideshow',
          dataType: 'script',
          data: {
            harvest: {
              imageIndex: imageIndex
            }
          }
        }).done(function() {
          if (paused === false) {
            runProgressBar();
          } else {
            clearInterval(interval);
          }
          $("#shown").writeText($('#hidden').html());
          if (imageIndex + 1 < totalImages) {
            imageIndex ++;
          } else {
            imageIndex = 0;
          }
        });
      };

      var setIndexBack = function() {
        if ((imageIndex - 2) >= 0) {
          imageIndex -= 2;
        } else {
          imageIndex = totalImages - 2;
        }
        paused = true;
        resumeActive = true;
        $('#resume').css('color', 'rgb(40, 40, 40)');
        // clear interval both before and after async call
        clearInterval(interval);
        getNextImage();
      };

      var resumeSlideshow = function() {
        // if any slide is remaining, clear it before rendering container
        $('#slideshow-container-flex').empty();
        $('#slideshow-container-block').show(function() {
          renderLoadingNotification();
          // grab first image initially
          getNextImage();
          interval = setInterval(getNextImage, 3500);
        });
      };

      $('#title-container').fadeOut(200, function() {
        resumeSlideshow();
      });

      $('#previous').click(function() {
        setIndexBack();
      });

      $('#resume').click(function() {
        if (resumeActive) {
          resumeActive = false;
          $('#resume').css('color', 'rgb(150, 150, 150)');
          paused = false;
          getNextImage();
          interval = setInterval(getNextImage, 3500);
        }
      });

    }; // end slideshow

    // fires slideshow on page load;
    $(document).ready(function() {
      clearInterval(interval);
      // fade in main title
      if (window.location.pathname == '/') {
        if ($('#sign-up-buttons-container').length === 0) {
          $('#title-container').css('padding-top', '30px');
          $('#title-container').animate({
            opacity: 1.0
          }, 400);
        } else {
          $('#title-container').animate({
            opacity: 1.0
          }, 400);
        };
        clearInterval(interval);
        imageIndex = 0;
        setTimeout(runSlideshow, 1500);
      } else {
        clearInterval(interval);
        imageIndex = 0;
      };
    });

    (function($) {
      $.fn.writeText = function(content) {
        var contentArray = content.split(""),
          current = 0,
          elem = this;
        setInterval(function() {
          if(current < contentArray.length) {
              elem.text(elem.text() + contentArray[current++]);
          }
        }, 10);
      };
    })(jQuery);

</script>
