
<div class='container-fluid background-main'>
  <div class='row title-container'>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <div class='main-logo-container'>
      <div class='title'></div>
      <div class='subtitle'></div>
    </div>

  </div>
  <div class='row signup-buttons-container'>
    <div class='gt-btn-container'>
      <a class='gt-btn long' href='/signup'>Sign up with email<i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
    </div>
    <div class='gt-btn-container'>
      <a class='gt-btn long' href='/users/auth/facebook'>Sign up with facebook<i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
