
<div class='container-fluid background-main'>
  <div class='row title-container'>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <div class='main-logo-container'>
      <div class='title'></div>
      <div class='subtitle'></div>
    </div>

  </div>
  <div class='row signup-buttons-container'>
    <div class='gt-btn long'>
      <%= link_to "Sign up with email", signup_path %>
      <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
    </div>
    <div class='gt-btn long'>
      <%= link_to "Sign up with facebook", signup_path %>
      <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
    </div>
  </div>
</div>
