@import '../../variables';

#badges-container-block {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  #badges-container-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #badges {
      background-color: $cloudy;
      height: 460px;
      margin: 14px;
      border: 5px solid $cloudy;
      border-radius: 3px;
      overflow-y: scroll;
    }
    ul {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      li {
        background-color: rgb(220, 220, 220);
        border-radius: 3px;
        margin: 3px;
        width: 110px;
        height: 110px;
      }
    }
  }
}
