@import '../../variables';

#badges-container-block {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  #badges-container-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #badges-box {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: $cloudy;
      height: 460px;
      margin-bottom: 35px;
      border: 5px solid $cloudy;
      border-radius: 3px;
      padding: 5px;
      text-align: center;
    }
    @media (max-width: 768px) {
      #badges-box {
        height: 535px;
        margin: 0;
        margin-bottom: 35px;
      }
    }
    #badge-inspector {
      height: 8%;
      background-color: rgba(0, 0, 0, 0.7);
      box-shadow: inset 1px 1px 75px rgb(30, 30, 30);
      border-radius: 3px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      #badge-info {
        color: $gametiks-orange;
        font-family: 'share-tech';
        text-shadow: 0 0 15px $gametiks-orange-shadow;
      }
    }
    ul#badges {
      height: 90%;
      width: 100%;
      margin: 2% 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      overflow-y: scroll;
      li {
        background-color: rgb(220, 220, 220);
        border-radius: 3px;
        margin: 3px;
        width: 110px;
        height: 110px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: auto;
          height: 100%;
        }
      }
      // togglable
      .highlight {
        border: 2px solid $gametiks-orange;
        box-shadow: 0 0 10px 2px $gametiks-orange-shadow, inset 0 0 10px 2px $gametiks-orange-shadow;
      }
    }
  }
}
