#switchable-window {
  position: relative;
  height: 522px;
  overflow: hidden;
}

@media (max-width: 768px) {
  #switchable-window {
    height: 600px;
  }
}

.max-width-1000 {
  max-width: 1000px;
}
