@import '../../variables';

  #harvest-inspector {
    background-color: $side-panel;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 4px solid $side-panel;
    color: $text-gray;
    font-weight: 600;
    img {
      margin: 10px;
      border-radius: 3px;
    }
    h4 {
      color: rgb(60, 60, 60);
      font-weight: bold;
    }
    img.avatar {
      position: absolute;
      right: -10px;
      top: 170px;
      width: 70px;
      height: 70px;
      border-radius: 100%;
      border: 4px solid $side-panel;
    }
    a {
      font-family: 'teko-medium';
      font-size: 26px;
      color: $water-blue;
      text-transform: uppercase;
    }
    p {
      font-weight: bold;
      line-height: 20px;
      font-family: 'open-sans-bold';
    }
  }
