@import '../../variables';

  #harvest-inspector {
    background-color: $side-panel;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 4px solid $side-panel;
    color: $text-gray;
    @media (max-width: 768px) {
      overflow-y: hidden !important;
    }
    img {
      margin: 10px;
      border-radius: 3px;
    }
    h4 {
      color: rgb(60, 60, 60);
      font-weight: bold;
    }
    a {
      font-family: 'teko-medium';
      font-size: 26px;
      color: $water-blue;
      text-transform: uppercase;
      h3 {
        font-family: 'teko-medium';
        height: 100%;
        margin: 0;
        padding: 10px;
        text-align: left;
        display: flex;
        justify-content: left;
        align-items: center;
      }
    }
    p {
      line-height: 20px;
      font-family: 'open-sans-bold';
      max-width: 220px;
    }
  }

  @media (max-width: 768px) {
    #harvest-inspector {
      margin: 5px;
      width: 100%;
      display: block;
      height: auto;
    img {
      margin: 0 10px 5px 0;
      border-radius: 3px;
      float: left;
      width: 130px;
    }
    h4 {
      display: block;
      text-align: left;
    }
    a {
      display: block;
      font-size: 26px;
      color: $water-blue;
      text-transform: uppercase;
      width: 100%;
      width: 100%;
      height: 50px;
      margin: 10px;
      img.avatar-mobile {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        margin: 0 10px 0 0;
        padding: 0;
      }
      h3 {
        font-family: 'teko-medium';
        height: 100%;
        margin: 0;
        padding: 10px;
        text-align: left;
      }
    }
    p {
      line-height: 20px;
      font-family: 'open-sans-bold';
      display: block;
      max-width: 100%;
      max-height: 45px;
      overflow: hidden;
    }
  }
}
