@import '../../variables';

#tiks-container-block {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  #tiks-container-flex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #tiks {
      border: 5px solid $cloudy;
      height: 460px;
      margin-bottom: 35px;
      border-radius: 3px;
      padding: 10px;
      overflow-y: scroll;
      background-color: $cloudy;
      ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        background-color: rgba(220, 220, 220, 1);
        margin-bottom: 5px;
        border-radius: 5px;
        h3 {
          padding: 0;
          margin: 0;
          img {
            width: 90px;
            height: 90px;
            border-radius: 3px 0 0 3px;
            margin: 5px;
          }
        }
        li {
          margin-left: 5px;
          margin-top: 5px;
          img {
            height: 90px;
          }
        }
      }
    }

    @media (max-width: 768px) {
      #tiks {
        height: 535px;
        margin: 0;
        margin-bottom: 35px;
      }
    }
  }
}
