@import '../../variables';

#tiks-container {
  width: 100%;
  position: absolute;
  left: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  #tiks {
    max-height: 430px;
    width: 750px;
    margin: 14px;
    border-radius: 3px;
    width: 680px;
    padding: 10px;
    ul {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      background-color: rgba(240, 240, 240, 0.3);
      margin-bottom: 5px;
      border-radius: 5px;
      h3 {
        padding: 0;
        margin: 0;
        img {
          width: 90px;
          height: 90px;
          border-radius: 3px 0 0 3px;
          margin: 5px;
        }
      }
      li {
        margin-left: 5px;
        margin-top: 5px;
        img {
          height: 90px;
        }
      }
    }
  }
}
