@import '../../variables';

#user-map-container-block {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  #user-map-container-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    #map-harvest-inspector-container {
      height: 100%;
      border-radius: 3px;
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 0;
      #filter-btn-container {
        position: absolute;
        top: 30px;
        right: 10px;
        height: 60px;
        z-index: 1;
        .filter-btn {
          background-color: $gray-green;
          border-top: 1px solid $gametiks-gray;
          height: 30px;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 10px 0 30px;
          img {
            height: 24px;
          }
          #flag {
            padding: 0 6px;
          }
        }
        #filter-user {

        }
        #filter-all {

        }
      }
      #user-map {
        height: 460px;
        border: 10px solid $cloudy;
        border-radius: 0 3px 3px 0;
        position: relative;
      }
    }
  }
}

#harvest-inspector {
  height: 460px;
  border-radius: 3px 0 0 3px;
  position: relative;
  overflow-y: scroll;
  #images-container {
    margin-bottom: 35px;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
    img.harvest {
      max-width: 220px;
      width: 100%;
      height: auto;
      margin: 0 auto;
      position: relative;
      display: block;
    }
    #avatar-container {
      height: 40px;
      margin: 0;
      width: 100%;
      display: flex;
      position: absolute;
      bottom: 0;
      img.avatar {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 4px solid white;
        margin: 0 auto;
      }
    }
  }
  @media (max-width: 768px) {
    #images-container {
      display: inline;
      img.harvest {
        width: 130px;
        margin: 0 10px 0 0;
      }
      img.avatar {
        display: none;
      }
    }
  }
}

// reposition for mobile
@media (max-width: 768px) {
  #map-harvest-inspector-container {
    justify-content: flex-start !important;
    flex-direction: column;
    #harvest-inspector {
      height: 35% !important;
      margin: 0;
      box-shadow: none;
      border-radius: 3px 3px 0 0 !important;
    }
    #user-map {
      width: 100%;
      border: 8px solid rgb(244, 244, 244);
      position: relative;
      margin-bottom: 50px;
      border-radius: 0 0 3px 3px !important;
    }
    #filter-btn-container {
      top: 177px !important;
      right: 0;
    }
  }
}
