@import '../../variables';

#user-map-container-block {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  #user-map-container-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    #map-harvest-inspector-container {
      min-width: 700px;
      height: 100%;
      border-radius: 3px;
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      #harvest-inspector {
        width: 33%;
        height: 460px;
        border-radius: 3px 0 0 3px;
      }
      #filter-btn-container {
        position: absolute;
        top: 30px;
        right: 10px;
        height: 60px;
        z-index: 1;
        .filter-btn {
          background-color: $gray-green;
          border-top: 1px solid $gametiks-gray;
          height: 30px;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 10px 0 30px;
          img {
            height: 24px;
          }
          #flag {
            padding: 0 6px;
          }
        }
        #filter-user {

        }
        #filter-all {

        }
      }
      #user-map {
        height: 460px;
        border: 10px solid $cloudy;
        width: 67%;
        border-radius: 0 3px 3px 0;
        display: relative;

      }
    }
  }
}
