@import '../../variables';

#user-map-container {
  width: 100%;
  height: 470px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  #map-harvest-inspector-container {
    min-width: 700px;
    height: 100%;
    border-radius: 3px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    #harvest-inspector {
      width: 33%;
      height: 430px;
      border-radius: 3px 0 0 3px;
    }
    #filter-btn-container {
      position: absolute;
      top: 26px;
      right: 10px;
      height: 70px;
      width: 150px;
      z-index: 1000;
      .filter-btn {
        background-color: $gray-green;
        width: 100%;
        border-top: 1px solid $gametiks-gray;
        height: 26px;
        color: white;
        line-height: 26px;
        cursor: pointer;
        &:hover {
          background-color: $link-blue;
        }
      }
      #filter-user {

      }
      #filter-all {

      }
    }
    #user-map {
      height: 430px;
      border: 10px solid $cloudy;
      width: 67%;
      border-radius: 0 3px 3px 0;
      display: relative;

    }
  }
}
