@import 'variables';
#notifications-container {
  position: absolute;
  display: none;
  top: 48px;
  right: 50px;
  width: 300px;
  max-width: 80%;
  height: auto;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0 0 10px #333;
  background-color: $side-panel;
  padding: 10px 5px 0;
  #close-button {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    padding-top: 2px;
    box-shadow: 0 0 8px #666;
    cursor: pointer;
    .fa {
      color: $gametiks-red;
    }
  }
  #avatar-container {
    height: 100%;
    width: 55px;
    float: left;
    img#actor-img {
      width: 44px;
      border-radius: 100%;
      margin: 5px;
    }
  }
  p {
    background-color: white;
    padding: 5px;
    color: #555;
  }
  a {
    color: $water-blue;
  }
  #empty {
    text-align: center;
    display: none;
  }
}
@media (max-width: 768px) {
  #notifications-container {
    left: 70px;
    top: 240px;
  }
}
