@import '../variables';

.background-main {
  background-image: image-url("foggyMountain.jpg");
  background-size: cover;
  background-position: center center;
}

.box-shadow-1 {
  box-shadow: inset 0 -75px 200px 20px rgba(0, 0, 0, 0.65);
}
.box-shadow-2 {
  box-shadow: inset 0 0 250px 50px rgba(0, 0, 0, 0.65);
}

#bottom-row {
  position: relative;
  height: 140px;
  width: 100%;
}

.monitor-pattern {
  position: relative;
  width: 100%;
  height: 2px;
  border-top: 1px solid rgba(40, 40, 40, 0.25);
}

#monitor-pattern-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.window-height {
  min-height: calc(100vh - 189px);
}

// sampled users
.sampled-users-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  .user-plate {

  }
}
@media (max-width: 768px) {
  .sampled-users-container {
    display: block;

  }
}
#placeholder {
  background-color: $gray-green;
  height: 34px;
  width: 100%;
}
// PITCH
.elevator-pitch-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gametiks-green;
  .elevator-pitch {
    .stars {
    }
    width: 100%;
    margin: 40px;
    text-align: center;
    white-space: nowrap;
    p {
      line-height: 70px;
      padding-top: 15px;
      color: white;
      font-family: 'teko-light';
      letter-spacing: 2px;
      font-size: 38px;
    }
    @media (max-width: 768px) {
      p {
        font-size: 20px;
      }
    }
  }
}

// overrides default settings in user_plate.scss
.home-plate {
  height: 260px;
  padding: 10px 0 20px 0;
}
@media (max-width: 768px) {
  .home-plate {
    height: 400px !important;
  }
}

#tallies-badges-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $cloudy;
  #tallies-badges {
    max-width: 900px;
    margin: 0 auto;
    #tallies {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: $cloudy;
      ul {
        margin: 10px;
        max-width: 400px;
        height: 120px;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 1px 1px 10px rgba(150, 150, 150, 0.3);
        header {
          img {
            height: 110px;
            width: 110px;
          }
        }
        li {
          img {
            height: 110px;
          }
        }
      }
    }
    #badges {
      background-color: $cloudy;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin: 10px;
          height: 120px;
          width: 120px;
          background-color: white;
          box-shadow: 1px 1px 10px rgba(150, 150, 150, 0.3);
          img {
            height: 100%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
