@import '../variables';

 #main-map-container {
   width: 100%;
   height: auto;
   background-color: $gray-30;
   background-size: cover;
   background-position: center center;
   border-top: 4px solid $cloudy;
   border-bottom: 4px solid $cloudy;
   #map-harvest-inspector-container {
     height: 100%;
     position: relative;
    //  display: flex;
    //  align-items: flex-start;
     padding: 0;
     margin: 0;
     #harvest-inspector {
       z-index: 3;
       @media (min-width: 769px) {
         height: 620px;
         position: absolute;
         left: 11%;
         box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
         max-width: 260px;
         height: 600px;
         z-index: 2;
         overflow: hidden;
       }
       #description-desktop {
         display: block;
       }
       #description-mobile {
         display: none;
       }
     }
     #main-map {
       height: 620px;
     }
   }
   // mobile
   @media (max-width: 768px) {
     #map-harvest-inspector-container {
       flex-direction: column;
       width: 100%;
       height: 620px !important;
       #harvest-inspector {
         height: 180px !important;
         #description-desktop {
           display: none;
         }
         #description-mobile {
           display: block;
         }
       }
       #main-map {
         height: 440px !important;
       }
     }
   }
 }
