@import '../variables';

 #main-map-container {
   width: 100%;
   height: auto;
   background-color: $cloudy;
   background-size: cover;
   background-position: center center;
   #map-harvest-inspector-container {
     border-radius: 3px;
     height: 100%;
     position: relative;
     display: flex;
     align-items: center;
     padding: 0;
     margin: 0;
     max-width: 1100px;
     margin: 0 auto;
     #main-map {
       height: 480px;
       border: 10px solid $side-panel;
     }
   }
   // mobile
   @media (max-width: 768px) {
     #map-harvest-inspector-container {
       flex-direction: column;
       width: 100%;
       #main-map {
         height: 300px;
         border: 8px solid rgb(244, 244, 244);
       }
     }
   }
 }
