@import '../variables';

#map-container {
   border-radius: 5px;
   background-color: $gametiks-transparent-gray;
   border-color: $gametiks-transparent-gray;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   border-width: 2px;
   padding: 10px;
   margin: 0;
 }

 #map {
   height: 384px;
   width: 100%;
   margin: 0;
   padding: 0;
 }
