@import '../variables';

#user-map-container {
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  #user-map {
    height: 430px;
    width: 750px;
    margin: 14px;
    border: 15px solid $cloudy;
    border-radius: 3px;
  }
}
