<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>

  <body>
    <h1>User#new_user</h1>

    <p>
      hi, <%= @user.name %>. Your email is <%= @user.email %>
    </p>

  </body>
</html>
