<li class='comment'>
  <div class='author-img-container'>
    <%= @comment.user.avatar.present? ?
      image_tag(@comment.user.avatar.url(:square), class: 'comment-author-img') :
      image_tag("https://s3.amazonaws.com/gametiks/users/avatars/Gametiks_Gamercard.jpg", class: 'comment-author-img') %>
  </div>
  <div class='author-name'><%= link_to @comment.user.name.upcase, @comment.user %></div>
  <%= @comment.body %>
</li>
