@import '../../variables';

#messages-container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 220px);
  margin-top: 20px;
  margin-bottom: 20px;
  #messages {
    background-color: $transparent-gray;
    border: 2px solid $transparent-gray;
    border-radius: 5px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 2px 2px 10px $transparent-black;
    padding: 0;
    .media {
      background-color: $dark-green-transparent;
      box-shadow: inset 0 0 30px 5px $transparent-gray;
      text-decoration: none;
      color: white;
      text-align: left;
      padding: 10px;
      .media-left {
        padding: 2px;
        display: flex;
        justify-content: space-around;
        width: 80px;
        height: auto;
        flex-wrap: wrap;
        float: left;
        .media-object {
          border-radius: 100%;
        }
        .trash-btn {
          background-color: transparent;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $gametiks-green;
          background-color: rgba(230, 229, 228, 0.4);
          border-radius: 3px;
          margin-top: 5px;
        }
        .untrash-btn {
          width: 70px;
          height: 20px;
          background-color: rgba(230, 229, 228, 0.4);
          color: $gametiks-green;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px;
          border-radius: 3px;
        }
        .view-message-btn {
          padding-left: 10px;
          padding-right: 10px;
          margin-top: 5px;
          height: 20px;
          color: $gametiks-green;
          border-radius: 3px;
          line-height: 21px;
        }
      }
      .media-body {
        .media-heading {
          text-align: left;
          font-family: sans-serif;
          border-bottom: 1px solid $cloudy;
          margin-left: 10px;
          height: 60px;
          h4 {
            margin: 0;
            text-align: left;
            font-weight: 300;
            text-transform: uppercase;
            font-family: 'teko-light';
            font-size: 30px;
            letter-spacing: 2px;

          }
          .subheader {
            font-size: 14px;
            font-weight: 200;
          }
        }
        .truncated-body {
          font-weight: 200;
          margin-left: 10px;
        }
      }
    }
  }
}

.message-list {
  padding: 0;
}

#read {
  background-color: rgba(230, 229, 228, 0.4);
}
#unread {
  background-color: $gametiks-orange;
}

.reply-panel {
  padding: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  textarea {
    box-shadow: 0 0 5px $gametiks-gray;
    border-radius: 5px;
    background-color: $transparent-gray;
    color: white;
  }
  textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border: 1px solid $gametiks-gray;
    box-shadow: 0 0 5px $gametiks-gray;
    border-radius: 5px;
    background-color: $transparent-gray;
    color: white;
  }
}

.full-body {
  font-weight: 200;
  margin-left: 10px;
}

#new-conversation-form {
  position: relative;
  display: block;
  height: 100%;
  padding: 10px;
  width: 100%;
  input {
  }
  .indent {
    width: 150px;
    margin-left: 15px;
  }
}
