<div class="row background-main">

  <div id='messages-container' class='col-xs-12'>
    <div id='messages' class='col-lg-7 col-md-8 col-sm-10 col-xs-12'>
      <div class="message-list">
        <div class="panel-body">
          <%= render partial: 'messages' %>
        </div>
        <div class="reply-panel">
          <!-- Reply Form -->
          <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
              <div class="form-group">
                <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control" %>
              </div>
              <%= f.submit "Reply", class: 'btn btn-danger pull-right' %>
          <% end %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>


</div>
