<div id='user-map-container'>
  <div id="user-map"></div>

  <script>
    var map;

    function initialize() {
      map = new google.maps.Map(document.getElementById('user-map'), {
        center: {lat: 44, lng: -69},
        zoom: 8,
        mapTypeId: 'terrain',
        styles: [
          {
            featureType: 'landscape',
            stylers: [
              { saturation: -50 }
            ]
          },{
            featureType: 'water',
            stylers: [
              { hue: '#174a67' },
              { saturation: 50 },
              { lightness: -80 }
            ]
          },{
            featureType: 'road',
            elementType: 'geometry',
            stylers: [
              { hue: '#00ffee' },
              { saturation: 50 }
            ]
          },{
            featureType: 'poi',
            elementType: 'labels',
            stylers: [
              { visibility: 'off' }
            ]
          }
        ]
      });

      var userId = gon.userId;
      var userHarvests = gon.harvests;
      for(var i = 0; i < userHarvests.length; i++) {
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(userHarvests[i].latitude, userHarvests[i].longitude),
              map: map,
              animation: google.maps.Animation.DROP,
              title: 'title'
          });
          attachInfo(marker, userHarvests[i]);
        };


      map.addListener('idle', function() {
        reloadCommunityMarkers();
      });

      function reloadCommunityMarkers() {
        var allHarvests = gon.allHarvests;
        var communityHarvests = allHarvests.filter(function(harvest) {
          return harvest.user_id !== userId;
        });
        for (var i = 0; i < communityHarvests.length; i++) {

          var image = {
                    url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                    // This marker is 20 pixels wide by 32 pixels high.
                    size: new google.maps.Size(20, 32),
                    // The origin for this image is (0, 0).
                    origin: new google.maps.Point(0, 0),
                    // The anchor for this image is the base of the flagpole at (0, 32).
                    anchor: new google.maps.Point(0, 32)
                  };
          var shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
          };

          if (inBounds(communityHarvests[i].latitude, communityHarvests[i].longitude)) {
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(communityHarvests[i].latitude, communityHarvests[i].longitude),
              map: map,
              icon: image,
              shape: shape
            });
            attachInfo(marker, communityHarvests[i]);
          };
        };
      };

      function inBounds(lat, lng) {
        position = {lat: parseFloat(lat), lng: parseFloat(lng)};
        return map.getBounds().contains(position);
      };
    };

    // format info for clickable markers
    function attachInfo(marker, harvest) {
      var imgUrl = harvest.image.thumb.url;
      var weight = harvest.weight;
      var date = harvest.created_at.slice(0, 10);
      var contentString = "<div>"+
      "<img width='200' height='200' onclick='myFunc()' src=" + imgUrl + ">"+
      "<br>"+
      "<p>Type: " + harvest.animal_type + "</p>"+
      "<p>Weight: " + harvest.weight + "</p>"+
      "<p>Harvested: " + date + "</p>"+
      "<a href=" + harvest.user_id + ">Go To User</a>"+
      "</div>";
      myFunc = function() {
        alert('clicked');
      };
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      marker.addListener('click', function() {
        infowindow.open(marker.get('map'), marker);
      });
    };



    function initMap(){
      initialize();
    }

  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwtrmNvPxpJU6tbz577Ll--lDxDiDLGVg&callback=initMap">
  </script>
</div>
