<div class='row'>
  <div class='log-book-mapper'>
    <div id="log-book-map"></div>

    <script>
      var map;

      function initialize() {
        map = new google.maps.Map(document.getElementById('log-book-map'), {
          center: {lat: 44, lng: -69},
          zoom: 8,
          mapTypeId: 'terrain',
          styles: [
            {
              featureType: 'landscape',
              stylers: [
                { saturation: -50 }
              ]
            },{
              featureType: 'water',
              stylers: [
                { hue: '#174a67' },
                { saturation: 50 },
                { lightness: -80 }
              ]
            },{
              featureType: 'road',
              elementType: 'geometry',
              stylers: [
                { hue: '#00ffee' },
                { saturation: 50 }
              ]
            },{
              featureType: 'poi',
              elementType: 'labels',
              stylers: [
                { visibility: 'off' }
              ]
            }
          ]
        });

        var userHarvests = gon.harvestCoords;
        var images = gon.images;

        for(var i = 0; i < userHarvests.length; i++) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(userHarvests[i][0], userHarvests[i][1]),
                map: map,
                animation: google.maps.Animation.DROP,
                title: 'harvest-plot'
            });
            attachCoordinates(marker, images[i]);
          };
      };


      function attachCoordinates(marker, image) {
        var formattedImageLink = "<div><img width='200' height='200' src=" + image + "><br></div>"
        var infowindow = new google.maps.InfoWindow({
          content: formattedImageLink
        });

        marker.addListener('click', function() {
          infowindow.open(marker.get('map'), marker);
        });
      };

      function initMap(){
        initialize();
      }

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwtrmNvPxpJU6tbz577Ll--lDxDiDLGVg&callback=initMap">
    </script>
  </div>
</div>
