<div class='container-fluid'>
  <div class='row'>
    <div id='logbook-container'>
      <div id='logbook-header'>
        <div id='left'></div>
        <div id='center' class='col-lg-8 col-md-9 col-sm-10 max-width-1000'>

          <div id='title-container'>
            <div id='button-left-container'><div id='button-left'><%= sortable "created_at", "NEWEST" %></div></div>
            <div id='triangle-left'></div>
            <div id='triangle-right'></div>
            <div id='title'>
            <div id='button-right-container'><div id='button-right'><%= sortable "created_at", "OLDEST" %></div></div>
              <h3>
                LOGBOOK
              </h3>
            </div>
          </div>

        </div>
        <div id='right'></div>
      </div>
      <div id='logbook'>
        <div id="columns">
        <% @harvests.each do |harvest| %>
          <%= render 'users/logbook/log', harvest: harvest %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
