<div class='container-fluid'>
  <div class='row'>
    <div id='logbook-container'>
      <div id='logbook-header'>
        <div id='left' class='hidden-xs'></div>
        <div id='center' class='col-xs-10 col-lg-8 col-md-9 max-width-1000'>

          <div id='title-container' class='col-xs-3 col-sm-5'>
            <div id='button-left-container'><div id='button-left'><%= sortable "created_at", "NEWEST" %></div></div>
            <div id='triangle-left'></div>
            <div id='triangle-right'></div>
            <div id='title'>
              <h3 class='hidden-xs'>
                LOGBOOK
              </h3>
              <h3 class='visible-xs'>
                LOGS
              </h3>
            </div>
            <div id='button-right-container' class='col-xs-12'><div id='button-right'><%= sortable "created_at", "OLDEST" %></div></div>
          </div>

        </div>
        <div id='right' class='hidden-xs'></div>
      </div>
      <div id='logbook'>
        <div id="columns">
        <% @harvests.each do |harvest| %>
          <%= render 'users/logbook/log', harvest: harvest %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
