@import '../variables';

#gallery-container {
  min-height: calc(100vh - 120px);
  background-color: $cloudy;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: $cloudy;
  position: relative;
  #gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 32px;
    margin-bottom: 40px;
    background-color: rgb(220, 220, 220);
    #columns {
      column-width: 200px;
      column-gap: 10px;
      width: 100%;
      max-width: 1200px;
      margin: 15px 10px 10px 10px;
      .log {
        padding: 10px;
        display: inline-block;
        column-break-inside: avoid;
        color: $gray-dark;
        margin-bottom: 10px;
        width: 100%;
        background-color: rgb(245, 245, 245);
        border-radius: 10px;
        box-shadow: 1px 1px 6px rgba(200,200,200,0.9);
        display: inline-block;
        img.harvest {
          width: 100%;
          margin-bottom: 0;
        }
        .user-nametag {
          border-top: 1px solid black;
          background-color: $gray-green;
          box-shadow: inset 0 0 30px $gametiks-green;
          height: 30px;
          a {
            display: block;
            text-transform: uppercase;
            overflow: hidden;
            width: 100%;
            height: 100%;
            font-family: 'teko-light';
            line-height: 32px;
            letter-spacing: 1px;
            font-size: 23px;
            text-align: center;
          }
        }
        .img-infoscreen {
          font-family: 'share-tech';
          border: 1px solid black;
          max-width: 600px;
          margin: 0 auto;
          background-color: rgba(0, 0, 0, 0.7);
          box-shadow: inset 1px 1px 200px rgb(30, 30, 30);
          font-size: 14px;
          color: #6b8c88;
          text-shadow: 0 0 15px rgba(190, 200, 210, 0.3);
          border-radius: 0 0 3px 3px;
          padding-bottom: 10px;
          height: auto;
          #text-wrapper {
            max-width: 400px;
            display: block;
            margin: 0 auto;
            h5 {
              font-family: inherit;
              font-size: 12px;
              color: rgba(107, 140, 136, 0.5);
              text-shadow: 0 0 10px rgba(180, 190, 200, 0.2);
            }
            h4 {
              font-family: inherit;
              font-size: 11px;
              padding: 0;
              height: 20px;
              .label {
                font-size: 11px;
                color: #6b8c88;
                text-align: left;
                float: left;
                text-shadow: 0 0 15px rgba(190, 200, 210, 0.3);
              }
              @media (max-width: 768px) {
                .label {
                  font-size: 11px;
                }
              }
              .field {
                text-align: right;
                width: 120px;
                overflow: hidden;
                float: right;
                padding: 2px 5px 0 5px;
                margin-right: 5px;
                color: $gametiks-orange;
                margin-bottom: 2px;
                border: 1px solid rgba(107, 140, 136, 0.3);
                text-shadow: 0 0 10px $gametiks-orange-shadow;
                border-radius: 3px;
              }
              @media (max-width: 768px) {
                .field {
                  width: 120px;
                  font-size: 11px;
                }
              }
            }
            p {
              color: #6b8c88;
              margin-top: 20px;
              border-top: 1px solid #6b8c88;
              padding: 14px;
            }
          }
        }
      }
    }
  }
}
