@import '../variables';

#gallery-container {
  min-height: calc(100vh - 120px);
  background-color: $cloudy;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: $cloudy;
  position: relative;
  #gallery {
    padding: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: $gray-light;
    .log {
      position: relative;
      padding: 0;
      color: $gray-dark;
      margin: 5px;
      flex: 1 1 auto;
      flex-basis: 230px;
      max-width: 330px;
      z-index: 3;
      img.harvest {
        width: 100%;
        margin-bottom: 0;
      }
      .user-nametag {
        background-color: $gray-green;
        box-shadow: inset 0 0 30px $gametiks-green;
        height: 30px;
        a {
          display: block;
          text-transform: uppercase;
          overflow: hidden;
          width: 100%;
          height: 100%;
          font-family: 'teko-light';
          line-height: 33px;
          letter-spacing: 1px;
          font-size: 23px;
          text-align: center;
        }
        &:hover {
          background-color: $water-blue;
        }
      }
      .img-infoscreen {
        position: relative;
        font-family: 'share-tech';
        min-height: 200px;
        max-width: 600px;
        margin: 0 auto;
        font-size: 14px;
        color: #6b8c88;
        text-shadow: 0 0 15px rgba(190, 200, 210, 0.3);
        padding: 10px;
        height: auto;
        #text-wrapper {
          max-width: 400px;
          display: block;
          margin: 0 auto;
          h5 {
            font-family: inherit;
            font-size: 12px;
            color: rgba(107, 140, 136, 0.5);
            text-shadow: 0 0 10px rgba(180, 190, 200, 0.2);
          }
          h4 {
            font-family: inherit;
            font-size: 11px;
            padding: 0;
            height: 20px;
            margin-top: 0;
            .label {
              font-size: 11px;
              color: #6b8c88;
              text-align: left;
              float: left;
              text-shadow: 0 0 15px rgba(190, 200, 210, 0.3);
            }
            @media (max-width: 768px) {
              .label {
                font-size: 11px;
              }
            }
            .field {
              text-align: right;
              width: 120px;
              overflow: hidden;
              float: right;
              padding: 2px 5px 0 5px;
              margin-right: 5px;
              color: $gametiks-orange;
              margin-bottom: 2px;
              border: 1px solid rgba(107, 140, 136, 0.3);
              text-shadow: 0 0 10px $gametiks-orange-shadow;
              border-radius: 3px;
            }
            @media (max-width: 768px) {
              .field {
                width: 120px;
                font-size: 11px;
              }
            }
          }
          p {
            color: #6b8c88;
            margin-top: 20px;
            border-top: 1px solid #6b8c88;
            padding: 14px;
          }
        }
      }
    }
  }
}
