<div id='badges-container-block'>
  <div id='badges-container-flex'>
    <div id='badges' class='col-lg-8 col-md-9 col-sm-10 max-width-1000'>
      <ul>
      <% 15.times do |badge| %>
        <li>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
