<div id='badges-container-block'>
  <div id='badges-container-flex'>
    <div id='badges' class='col-lg-8 col-md-9 col-sm-10 max-width-1000'>
      <ul>
        <% @user.badges.length.times do |i| %>
        <li><%= image_tag(@user.badges[i].image) %>
        </li>
        <% end %>
        <% (15 - @user.badges.length).times do |i| %>
        <li>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
