<div id='badges-container-block'>
  <div id='badges-container-flex'>
    <div id='badges-box' class='col-xs-10 col-lg-8 col-md-9 max-width-1000'>
      <div id='badge-inspector' class='col-xs-12 col-sm-10 col-md-9 col-lg-8'>
        <div id='badge-info'>
          <%= @user.name %> has acquired <%= pluralize(@user.badges.length, "badge") %>
        </div>
      </div>
      <ul id='badges'>
        <% @user.badges.length.times do |i| %>
        <li class='badge'><%= image_tag @user.badges[i].image, title: @user.badges[i].title, alt: @user.badges[i].description %>
        </li>
        <% end %>
        <% (15 - @user.badges.length).times do |i| %>
        <li>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.badge').on('click', function() {
      $('.badge').removeClass("highlight");
      $(this).addClass("highlight");
      var title = $(this.firstChild).attr("title");
      var info = $(this.firstChild).attr("alt");
      $('#badge-info').text(title + ": " + info);
    });
  });
</script>
