<div id='contacts-container'>
  <div id='contacts-handle'>
    <% 3.times do %>
      <div id='vertical-line'></div>
    <% end %>
  </div>
  <header id='contacts-header'>
    Contacts <i class="fa fa-user-circle" aria-hidden="true"></i>
  </header>
  <div id='contact-list-container'>
    <div id='contacts'>
      <% contacts = {} %>
        <% current_user.contacts.each do |contact| %>
        <% contacts[contact.id] = contact.name %>
        <% end %>
      <ul>
        <% contacts.each do |id, name| %>
          <li class='contact'>
            <div id="arrow-right">
              <i id='arrow-right-icon' class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </div>
            <a href='/users/<%= id %>'><%= name %> </a>
            <%= link_to "Message", "#", class: "start-conversation",
                  "data-sid" => current_user.id, "data-rip" => id %>
            <!-- <i id='message-bubble' class="fa fa-commenting" aria-hidden="true"></i> -->
          </li>
        <% end %>
      </ul>
    </div>
    </div>
    <div id='list-footer'></div>
  <div id='decor-lower-left'></div>
</div>
