<div class='conversation-container'>
  <div class='conversation-box'>
      <%= @user.mailbox.inbox.first %>
      <form class="comment" action="/conversations" method="post">

      </form>
  </div>
</div>

<script>
  $(".comment").submit(function(event) {
    event.preventDefault();
  });
</script>
