<div id='messagebox-container'>
  <div id='messagebox-handle'>
    <% 3.times do %>
      <div id='vertical-line'></div>
    <% end %>
  </div>
  <header id='messages-header'>
    Messenger <i class="fa fa-commenting" aria-hidden="true"></i>
  </header>
  <div id='message-list-container'>
    <div id='messages'>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
