<div id='notifications-container'>
  <div id='close-button'>
    <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
  </div>
  <ul id='notifications-list'>
    <li id='empty' class='notification-item'>
      <p>
        Notifications Currently Empty :(
      </p>
    </li>
    <!-- Auto-fills with handful of notifications -->
  <ul>
</div>

<script>
  $(document).ready(function() {
    $.ajax({
      url: '/notifications',
      type: 'GET',
      dataType: 'script'
    });

    $('#close-button').click(function() {
      $('#notifications-container').hide();
    });
  });
</script>
