<div id='tiks-container'>
  <div id='tiks'>
    <% all_tiks = count_harvests(@user) %>
    <% all_tiks.each do |key, val| %>
      <ul>
        <% if val > 0 %>
          <li>
          <%= image_tag("https://s3.amazonaws.com/gametiks/images/#{key}_black.png") %>
          <li>
        <% end %>
        <% val.times do %>
          <li>
            /
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
