<div id='tiks-container-block'>
  <div id='tiks-container-flex'>
    <div id='tiks' class='col-xs-10 col-lg-8 col-md-9 max-width-1000'>
      <% all_tiks = count_harvests(@user) %>
      <% all_tiks.each do |key, val| %>
          <% if val > 0 %>
          <ul>
            <h3><%= image_tag("https://s3.amazonaws.com/gametiks/images/#{key}_black.png") %></h3>
          <% end %>
          <% val.times do %>
            <li>
              <%= image_tag("https://s3.amazonaws.com/gametiks/images/tik_black.png") %>
            </li>
            <% end %>
          </ul>
      <% end %>
    </div>
  </div>
</div>
