<div id='user-nav'>
  <div id='left'></div>
  <div id='center' class='col-lg-8 col-md-9 col-sm-10'>
    <nav id='user-records'>
      <ul>
        <li id='map-tab'>
          MAP
          <div class='square'></div>
        </li>
        <li id='tiks-tab'>
          TIKS
        </li>
        <li id='badges-tab'>
          BADGES
          <div class='square'></div>
        </li>
      </ul>
    </nav>
  </div>
  <div id='right'></div>
</div>
