<div id='user-nav' class='spawn-monitor-fill'>
  <div id='left' class='hidden-xs'></div>
  <div id='center' class='col-xs-10 col-md-9 col-lg-8 max-width-1000'>
    <nav id='user-records'>
      <ul>
        <li id='map-tab' class='col-xs-4'>
          MAP
        </li>
        <li id='tiks-tab' class='col-xs-4'>
          TIKS
        </li>
        <li id='badges-tab' class='col-xs-4'>
          BADGES
        </li>
      </ul>
    </nav>
  </div>
  <div id='right' class='hidden-xs'></div>
</div>
