<div id="flash-messages">
  debugger
    <% flash.each do |key, value| %>
      <div class='flash-items'>
        <% value.each do |message| %>
          <div class='item'>
            <%= message %>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
