<div class='container-fluid'>
  <div class='row'>
    <div id='gallery-container'>
        <div id='gallery' class='col-xs-12'>
          <%= render @harvests %>
        </div>
      <div class='paginate'>
        <a rel="next" id="next" data-remote="true" href="/gallery?page=2" hidden='true'>Next Page</a>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var total_pages = gon.total_pages;
      $(window).scroll(function() {
        var nextPageURL = $('#next').attr('href');
        var currentPage = parseInt(nextPageURL.substr(nextPageURL.length - 1));
        newPage = currentPage + 1;
        if (newPage <= total_pages && ($(window).scrollTop() > $(document).height() - $(window).height() - 50)) {
          $('#next').attr("href", `/gallery?page=${newPage}`);
          $.ajax({
            url: nextPageURL,
            type: 'GET',
            dataType: 'script',
          });
        }
      });
      return $(window).scroll();
  })
</script>
