<div class='container-fluid'>
  <div class='row'>
    <div id='gallery-container'>
        <div id='gallery'>
          <%= render @harvests %>
        </div>
      <div class='paginate'>
        <a rel="next" id="next" data-remote="true" href="/gallery?page=2" hidden='true'>Next Page</a>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
      $(window).scroll(function() {
        var nextPageURL = $('#next').attr('href');
        if (nextPageURL && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
          var currentPage = parseInt(nextPageURL.substr(nextPageURL.length - 1));
          $.ajax({
            url: nextPageURL,
            type: 'GET',
            dataType: 'script',
          }).done(function() {
            newPage = currentPage + 1;
            $('#next').attr("href", `/gallery?page=${newPage}`);
          });
        }
      });
      return $(window).scroll();
  })
</script>
