// variables
$gametiks-gray: rgb(192,192,192);
$gametiks-green: #384947;
$gametiks-green-transparent: rgba(56, 73, 71, 0.7);
$gametiks-red: rgba(227, 119, 104, 0.9);
$dark-green: rgb(41, 53, 52);

$off-white: rgb(250, 250, 250);
$snow-transparent: rgba(250, 250, 250, 0.8);
$off-white-transparent: rgba(250, 250, 250, 0.7);
$white-half-transparent: rgba(250, 250, 250, 0.5);
$gray-highlight: rgb(240, 240, 240);
$gray-light: rgb(220, 220, 220);
$gray-medium-light: rgb(234, 234, 234);
$logger-gray: rgb(210, 210, 210);
$panel-gray: rgb(180, 180, 180);
$gray: rgb(150, 150, 150);
$gray-dark: rgb(100, 100, 100);
$gray-50: rgb(50, 50, 50);
$text-gray: rgb(75, 75, 75);
$cloudy: rgb(230, 229, 228);

$gametiks-orange-tint: #ffa929;
$gametiks-orange: #ff9a00;
$gametiks-orange-shade: #cc7a00;
$gametiks-orange-shadow: rgba(255, 154, 0, 0.3);
$gametiks-tech-green: #65e52c;
$gametiks-tech-green-shadow: rgba(93, 159, 65, .8);

$gray-green-highlight: #717f7d;
$gray-green: #626e6c;
$gray-green-shadow: #596462;
$gray-green-dark-shadow: #485150;

$link-blue: rgba(48, 97, 119, 0.7);
$link-blue-transparent: rgba(48, 97, 119, 0.2);
$water-blue: rgba(0, 53, 83, 0.8);
$water-blue-transparent: rgba(0, 53, 83, 0.9);

$angled-shadow: rgba(15, 18, 18, 0.25);
$shade: rgba(15, 18, 18, 0.15);

$frost: rgba(220, 220, 220, 0.7);
$semi-transparent-gray: rgba(140, 140, 140, 0.8);
$semi-transparent-green: rgba(56, 73, 71, 0.8);
$transparent-green: rgba(56,73,71,0.5);
$handle-gray: rgba(210, 210, 210, .95);
$fogged-glass: rgba(80, 80, 80, 0.4);
$deep-ivory: rgba(155, 155, 155, 0.5);
$side-panel: rgb(240, 240, 240);
$contact-gray: rgba(0, 0, 0, 0.25);
$transparent-gray: rgba(0,0,0,0.2);
$transparent-black: rgba(0, 0, 0, 0.8);

$dark-green-transparent: rgba(56, 73, 71, 0.7);
$dark-gray-transparent: rgba(40, 40, 40, 0.95);
$shadow: rgba(35, 35, 35, 0.9);
$dark-shadow: rgba(20, 20, 20, 0.9);

$state-danger-text: red;
$red: rgba(255, 51, 0, 1);

// fonts

@font-face {
  font-family: 'open-sans-light';
  src: font-url('open_sans/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'open-sans-regular';
  src: font-url('open_sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'open-sans-semibold';
  src: font-url('open_sans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'open-sans-bold';
  src: font-url('open_sans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'teko-light';
  src: font-url('teko/teko_light.ttf');
}

@font-face {
  font-family: 'teko-medium';
  src: font-url('teko/teko_medium.ttf');
}

@font-face {
  font-family: 'exo2';
  src: font-url('exo2_medium.ttf');
}

@font-face {
  font-family: 'share-tech';
  src: font-url('sharetech/sharetech.ttf');
}
