// @import "bootstrap-sprockets";
@import "bootstrap";
@import './variables';

@font-face {
  font-family:'impact';
  src:font-url('leaguegothic-regular-webfont.eot');
  src:font-url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.jumbotron {
  background-color: rgba(255,255,255,0);
}

.red-outline {
  border: 1px solid red;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;

  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: impact, verdana;
  text-align: center;
}

h1 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  color: rgba(0,0,0,0.6);
}

h2 {
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users leaderboard */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-light;
  }
}

/* Gallery */

table .gallery {
  max-width: 5;
  th, td {
  padding: 15px;
}}
