
@import './variables';

/* universal */

body {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.red-outline {
  border: 1px solid red;
}

a {
  text-decoration: none !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;

  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: arial;
  text-align: center;
}

p {

}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* forms */

textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}


#error_explanation {
  color: blue;
  ul {
    color: blue;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: blue;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

/* Gallery */

table .gallery {
  max-width: 5;
  th, td {
  padding: 15px;
}}
