/* footer */
@import './variables';

footer.footer-main {
  background-color: $dark-green;
  padding-top: 5px;
  border-top: 2px solid $gray;
  color: $gray-light;
  height: 70px;
  padding: 20px;
  display: block;
  a {
    color: $gray;
    &:hover {
      color: $gray-dark;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
