
/* header */
@import './variables';

#logo {
  font-family: 'teko-medium';
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  padding-top: 19px;
  letter-spacing: 2px;
  &:hover {
    text-decoration: none;
    background-color: none;
  }
}

.header-main {
  margin-bottom: 0;
}

li#contacts {
  height: 50px;
  padding: 0 15px;
  line-height: 50px;
  color: white;
  cursor: pointer;
}
