
/* header */
@import './variables';

#logo {
  font-family: 'teko-medium';
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  &:hover {
    text-decoration: none;
    background-color: none;
  }
}

.header-main {
  margin-bottom: 0;
}
