
/* header */
@import './variables';

#myNavbar {
  li {
  }
}
#logo {
  font-family: 'teko-medium';
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  padding-top: 19px;
  letter-spacing: 2px;
  &:hover {
    text-decoration: none;
    background-color: none;
  }
}

.header-main {
  margin-bottom: 0;
}

li#contacts {
  height: 50px;
  padding: 0 15px;
  line-height: 50px;
  color: white;
  cursor: pointer;
}

li#search-container {
  position: relative;
  height: 50px;
  padding: 10px;
  input#search {
    width: 177px;
    height: 30px;
    text-indent: 10px;
    box-shadow: none;
    outline: none;
    border-radius: 4px;
    border: none;
    color: $gray-dark;
    font-family: 'open-sans-bold';
  }
  ul#search-results {
    position: absolute;
    background-color: transparent;
    width: 200px;
    z-index: 100;
    left: 0px;
    top: 48px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px $gray-50;
    font-family: 'open-sans-bold';
    li {
      background-color: white;
      text-indent: 2px;
      &:hover {
        background-color: $gametiks-green;
        a {
          color: white !important;
        }
      }
      &:first-child {
        border-radius: 5px 5px 0 0;
      }
      &:last-child {
        border-radius: 0 0 5px 5px;
      }
      &:only-child {
        border-radius: 5px;
      }
      a {
        display: block;
        padding: 8px;
        width: 100%;
        height: 100%;
        color: $gray-dark !important;
      }
    }
  }
}
