
/* header */
@import './variables';

.header-main {
  box-shadow: inset 0 -30px 50px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0;
}

#myNavbar {
  .nav {
    font-family: 'open-sans-regular';
    li {
      a {
        color: $panel-gray;
        &:hover {
          color: white;
        }
      }
    }
    li.bordered {
      border-right: 1px solid $gray-dark;
    }
  }
}
#logo {
  height: 50px;
  padding: 0 8px;
  background-color: #222;
  img#gt-icon {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
  }
  &:hover {
    text-decoration: none;
    background-color: none;
  }
}

.header-main {
  margin-bottom: 0;
}

ul#icons {
  position: relative;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 0 10px 10px;
  background-color: $gray-40;
  li#contacts, li#notifications, li#mailbox {
    cursor: pointer;
    margin: 0 8px;
    i {
      color: $gray-dark !important;
      &:hover {
        color: white !important;
      }
    }
    .fa-exclamation-circle {
      font-size: 20px;
    }
    .fa-user-circle {
      font-size: 17px;
    }
    .fa-envelope {
      font-size: 17px;
    }
  }
  .pulse {
    .fa {
    -webkit-animation-name: pulse; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.6s; /* Safari 4.0 - 8.0 */
    animation-name: pulse;
    animation-duration: 0.6s;
    animation-iteration-count: 30;
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes pulse {
      0% {color: white;}
      25% {color: white}
      50% {color: $gametiks-red;}
      75% {color: white}
      100% {color: white};
    }
    /* Standard syntax */
    @keyframes pulse {
      0% {color: white;}
      25% {color: white}
      50% {color: $gametiks-red;}
      75% {color: white}
      100% {color: white};
    }
  }
}

.dropdown-toggle {
  background-color: transparent !important;
}
ul.dropdown-menu {
  li {
    a {
      font-family: 'open-sans-regular';
    }
  }
}
li#search-container {
  position: relative;
  height: 50px;
  padding: 10px;
  input#search {
    background-color: transparent;
    background-color: $gray-40;
    border: none;
    width: 177px;
    height: 30px;
    text-indent: 10px;
    box-shadow: none;
    outline: none;
    border-radius: 4px;
    color: $gray-green-glow;
    text-shadow: 0 0 12px rgba(140, 140, 140, 0.5);
    font-family: 'share-tech';
  }
  ul#search-results {
    position: absolute;
    background-color: $gray-40;
    width: 198px;
    z-index: 100;
    left: 0px;
    top: 50px;
    box-shadow: 1px 1px 10px $gray-50;
    font-family: 'share-tech';
    li {
      text-indent: 2px;
      border-bottom: 1px solid $gray-50;
      &:hover {
        a {
          color: white !important;
        }
      }
      a {
        display: block;
        padding: 8px;
        width: 100%;
        height: 100%;
        color: $gray-green-glow !important;
      }
    }
  }
}
