
/* header */
@import './variables';

header {

}

#logo {
  float: left;
  font-family: 'teko-medium';
  font-size: 40px;
  color: white;
  line-height: 30px;
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 13px 10px 10px 10px;
  &:hover {
    text-decoration: none;
    background-color: none;
  }
}

.header-main {
  background-color: $gametiks-green;
  height: 50px;
  border-bottom: 2px solid $gray;
  nav {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 500px;
    color: white;
    font-family: sans-serif;
    ul.navbar-nav {
      li {
        height: 50px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        .fa {
          margin: 0 2px;
        }
      }
      li#contacts {
        height: 100%;
        padding: 16px;
      }
      li#messenger {
        height: 100%;
        padding: 16px;
      }
      li#settings {
      }
    }
  }
}

.limit-width {
  max-width: 1200px;
  height: 50px;
  margin: 0 auto;
}
