@import './variables';

.background-main {
  background-image: image-url("foggyMountain.jpg");
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  display: block;
}

.splash-main {
  background-image: image-url("foggyMountain.jpg");
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 620px;
  min-height: calc(100vh - 250px);
}

.window-height {
  min-height: calc(100vh - 189px);
}

.title-container {
  position: relative;
  display: block;
  width: 100%;
}

.main-logo-container {
  width: 100%;
  position: relative;

  .title {
    background-image: url(https://s3.amazonaws.com/gametiks/images/gametiks_logo.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
  }

  .subtitle {
    background-image: image-url('gametiks_subtitle.png');
    background-size: 500px auto;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
  }
}

.signup-buttons-container {
  height: 130px;
  display: flex;
  white-space: nowrap;
  width: 100%;

  .gt-btn-container {
    position: relative;
    width: 300px;
    height: 90px;
    padding: 20px;
    background-color: $transparent-gray;
    border: 2px solid $transparent-gray;
    border-radius: 5px;
    margin: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px $transparent-black;
    .gt-btn {
      height: 100%;
      width: 100%;
      background-color: $dark-green-transparent;
      box-shadow: inset 0 0 30px 5px $transparent-gray;
      text-decoration: none;
      color: white;
      font-size: 14px;
      padding: 14px;
    }

    .email {
      padding-left: 36px;
    }

    .fa-facebook-square {
      position: absolute;
      top: 31px;
      right: 34px;
      color: #3b5998;
      background: white;
      padding: 0;
      margin: 0;
      line-height: 24px;
      font-size: 28px;
      width: 23px;
      text-align: center;
      border-radius: 8px;
      margin-left: 10px;
      opacity: 0.8;
    }

    .fa-envelope {
      position: absolute;
      top: 29px;
      font-size: 26px;
      right: 56px;
      color: white;
      padding-left: 10px;
      opacity: 0.8;
    }
  }
}
// sampled users
.sampled-users-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#placeholder {
  background-color: $gray-green;
  height: 34px;
  width: 100%;
}
// PITCH
.elevator-pitch-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gametiks-green;
  .elevator-pitch {
    width: 100%;
    margin: 40px;
    text-align: center;
    white-space: nowrap;
    p {
      font-size: 42px;
      line-height: 70px;
      padding-top: 15px;
      color: white;
      font-family: 'teko-light';
      letter-spacing: 2px;
    }
  }
}

// overrides default settings in user_plate.scss
.home-plate {
  height: auto !important;
  padding: 20px 0 28px 0;
  position: relative;
  display: block;
}

#tallies-badges-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $cloudy;
  #tallies-badges {
    max-width: 900px;
    margin: 0 auto;

    #tallies {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: $cloudy;
      ul {
        margin: 10px;
        width: 400px;
        height: 120px;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 1px 1px 10px rgba(150, 150, 150, 0.3);
        header {
          img {
            height: 110px;
            width: 110px;
          }
        }
        li {
          img {
            height: 110px;
          }
        }
      }
    }
    #badges {
      background-color: $cloudy;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin: 10px;
          height: 120px;
          width: 120px;
          background-color: white;
          box-shadow: 1px 1px 10px rgba(150, 150, 150, 0.3);
          img {
            height: 100%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
