@import './variables';

.background-main {
  background-image: image-url("foggyMountain.jpg");
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  display: block;
}

.splash-main {
  background-image: image-url("foggyMountain.jpg");
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 80px);
  max-height: 850px;
}

.window-height {
  min-height: calc(100vh - 189px);
}

.title-container {
  position: relative;
  display: block;
  width: 100%;
}

.main-logo-container {
  width: 100%;
  position: relative;

  .title {
    background-image: url(https://s3.amazonaws.com/gametiks/images/gametiks_logo.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
  }

  .subtitle {
    background-image: image-url('gametiks_subtitle.png');
    background-size: 500px auto;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
  }
}

.signup-buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  .gt-btn-container {
    position: relative;
    width: 300px;
    height: 90px;
    padding: 20px;
    background-color: $transparent-gray;
    border: 2px solid $transparent-gray;
    border-radius: 5px;
    margin: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px $transparent-black;

    .gt-btn {
      height: 100%;
      width: 100%;
      background-color: $dark-green-transparent;
      box-shadow: inset 0 0 30px 5px $transparent-gray;
      text-decoration: none;
      color: white;
      font-size: 14px;
      padding: 14px;
    }

    .email {
      padding-left: 36px;
    }

    .fa-facebook-square {
      position: absolute;
      top: 31px;
      right: 34px;
      color: #3b5998;
      background: white;
      padding: 0;
      margin: 0;
      line-height: 24px;
      font-size: 28px;
      width: 23px;
      text-align: center;
      border-radius: 8px;
      margin-left: 10px;
      opacity: 0.8;
    }

    .fa-envelope {
      position: absolute;
      top: 29px;
      font-size: 26px;
      right: 56px;
      color: white;
      padding-left: 10px;
      opacity: 0.8;
    }
  }
}

// PITCH
#elevator-pitch-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gametiks-green;
  #elevator-pitch {
    width: 70%;
    margin: 40px;
    p {
      font-size: 22px;
      line-height: 40px;
      color: white;
      font-family: 'open-sans-regular';
    }
  }
}
