@import './variables';

.background-main {
  background-image: image-url("foggyMountain.jpg");
  background-size: cover;
  background-position: center center;
}

.gametiks-gradient-warm {
    background: $gametiks-orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($gametiks-orange-tint, $gametiks-orange-shadow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($gametiks-orange-tint, $gametiks-orange); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($gametiks-orange-tint, $gametiks-orange); /* For Firefox 3.6 to 15 */
    background: linear-gradient($gametiks-orange-tint, $gametiks-orange-shade); /* Standard syntax */
}

#flash-messages-container {
  border: 10px solid $cloudy;
  border-radius: 5px;
  height: auto;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: inset 1px 1px 50px rgb(30, 30, 30);
  max-width: 500px;
  .flash-message {
    font-family: 'share-tech';
    color: $gametiks-orange;
    display: inline-block;
    text-shadow: 0 0 10px $gametiks-orange-shadow;
  }
}

.splash-main {
  background-image: image-url("foggyMountain.jpg");
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 250px);
}


#splash-buttons-container {
  text-align: center;
  padding: 10px;
  height: auto;
  background-color: $cloudy;
  border-radius: 5px;
  margin: 20px 0 40px 0;
  max-width: 500px;
  #gallery-button {
    background-color: $link-blue;
    background-size: contain;
    background-position: center center;
    display: flex;
    color: white;
    font-family: 'open-sans-regular';
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    border: 1px solid white;
    border-radius: 3px;
  }
  @media (max-width: 768px) {
    #gallery-button {
      font-size: 12px;
      height: 35px;
    }
  }
}


.window-height {
  min-height: calc(100vh - 189px);
}

.title-container {
  position: relative;
  display: block;
  width: 100%;
}

.title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img.title {
    margin: 20px;
    width: 100%;
    max-width: 800px;
  }


}

  #sign-up-buttons-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    a.main-btn {
      display: flex;
      height: 40px;
      width: 100%;
      color: white;
      border: 1px solid white;
      border-radius: 3px;
      font-family: 'open-sans-regular';
      font-size: 14px;
      justify-content: center;
      align-items: center;
      .fa {
        margin-left: 10px;
        font-size: 22px;
      }
  }
}

@media (max-width: 768px) {
  #sign-up-buttons-container {
    a.main-btn {
      font-size: 12px;
      height: 35px;
      .fa {
        font-size: 18px;
      }
    }
  }
}
// sampled users
.sampled-users-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  .user-plate {

  }
}
@media (max-width: 768px) {
  .sampled-users-container {
    display: block;

  }
}
#placeholder {
  background-color: $gray-green;
  height: 34px;
  width: 100%;
}
// PITCH
.elevator-pitch-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gametiks-green;
  .elevator-pitch {
    .stars {
    }
    width: 100%;
    margin: 40px;
    text-align: center;
    white-space: nowrap;
    p {
      line-height: 70px;
      padding-top: 15px;
      color: white;
      font-family: 'teko-light';
      letter-spacing: 2px;
      font-size: 38px;
    }
    @media (max-width: 768px) {
      p {
        font-size: 20px;
      }
    }
  }
}

// overrides default settings in user_plate.scss
.home-plate {
  height: 260px;
  padding: 10px 0 20px 0;
}
@media (max-width: 768px) {
  .home-plate {
    height: 400px !important;
  }
}

#tallies-badges-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $cloudy;
  #tallies-badges {
    max-width: 900px;
    margin: 0 auto;
    #tallies {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: $cloudy;
      ul {
        margin: 10px;
        max-width: 400px;
        height: 120px;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 1px 1px 10px rgba(150, 150, 150, 0.3);
        header {
          img {
            height: 110px;
            width: 110px;
          }
        }
        li {
          img {
            height: 110px;
          }
        }
      }
    }
    #badges {
      background-color: $cloudy;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin: 10px;
          height: 120px;
          width: 120px;
          background-color: white;
          box-shadow: 1px 1px 10px rgba(150, 150, 150, 0.3);
          img {
            height: 100%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

#staff-pick-container {
  width: 100%;
  background-color: #222;
  padding-bottom: 20px;
  #first-row {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    #three-stars {
      height: 60px;
      padding-top: 10px;
      img {
        margin: 0 auto;
        display: block;
        height: 40px;
      }
    }
    #name-container {
      width: 320px;
      max-width: 90%;
      margin: 0 auto;
      a {
        color: white;
        font-family: 'teko-light';
        font-size: 34px;
        width: 100%;
        height: 100%;
        line-height: 34px;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  #second-row {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    #staff-pick {
      #log-wrapper {
        height: 100%;
        display: inline;
        .log {
          box-shadow: none;
          max-width: 400px;
        }
      }
    }
    .stars {
      img {
        height: 300px;
        margin: 30px;
      }
    }
  }
}
