@import './variables';

.background-main {
  background-image: image-url("foggyMountain.jpg");
  background-size: cover;
  background-position: center center;
}

.box-shadow-1 {
  box-shadow: inset 0 -75px 200px 20px rgba(0, 0, 0, 0.65);
}
.box-shadow-2 {
  box-shadow: inset 0 0 250px 50px rgba(0, 0, 0, 0.65);
}

.gametiks-gradient-warm {
    background: $gametiks-orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($gametiks-orange-tint, $gametiks-orange-shade); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($gametiks-orange-tint, $gametiks-orange-shade); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($gametiks-orange-tint, $gametiks-orange-shade); /* For Firefox 3.6 to 15 */
    background: linear-gradient($gametiks-orange-tint, $gametiks-orange-shade); /* Standard syntax */
}

.gametiks-gradient-cool {
    background: $gametiks-blue-shadow; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($link-blue, $link-dark-blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($link-blue, $link-dark-blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($link-blue, $link-dark-blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient($link-blue, $link-dark-blue); /* Standard syntax */
}

#flash-messages-container {
  border: 10px solid $cloudy;
  border-radius: 5px;
  height: auto;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: inset 1px 1px 50px rgb(30, 30, 30);
  max-width: 500px;
  .flash-message {
    font-family: 'share-tech';
    color: $gametiks-orange;
    display: inline-block;
    text-shadow: 0 0 10px $gametiks-orange-shadow;
  }
}

.splash-main {
  background-image: image-url("foggyMountain.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-top: 4px solid $cloudy;
  border-bottom: 4px solid $cloudy;
  min-height: calc(100vh - 200px);
  img#gametiks-condensed {
    margin: 0 auto;
    width: 300px;
  }
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    content: '';
    border-top: 6px solid $snow-transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid $snow-transparent;
  }
  &:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    content: '';
    border-top: 6px solid $snow-transparent;
    border-right: 6px solid $snow-transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
  }
  #bottom-left-corner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    content: '';
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $snow-transparent;
    border-left: 6px solid $snow-transparent;
  }
  #bottom-right-corner {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    content: '';
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid $snow-transparent;
    border-right: 6px solid $snow-transparent;
  }
  @media (max-width: 768px) {
    #bottom-left-corner, #bottom-right-corner {
      display: none;
    }
  }
}

#bottom-row {
  position: relative;
  height: 140px;
  width: 100%;
}
#splash-buttons-container {
  position: absolute;
  bottom: 0;
  text-align: center;
  height: auto;
  background-color: $white-half-transparent;
  max-width: 480px;
  padding-bottom: 4px;
  #left-frame {
    position: absolute;
    left: -30px;
    background-color: $snow-transparent;
    width: 30px;
    bottom: 0;
    height: calc(100% - 30px);
    &:before {
      width: 0;
      height: 0;
      left: 0;
      top: -30px;
      position: absolute;
      content: '';
      border-left: 15px solid transparent;
      border-top: 15px solid transparent;
      border-right: 15px solid $snow-transparent;
      border-bottom: 15px solid $snow-transparent;
    }
    &:after {
      width: 0;
      height: 0;
      left: -12px;
      bottom: 0;
      position: absolute;
      content: '';
      border-left: 6px solid transparent;
      border-top: 6px solid transparent;
      border-right: 6px solid $snow-transparent;
      border-bottom: 6px solid $snow-transparent;
    }
  }
  #right-frame {
    position: absolute;
    right: -30px;
    bottom: 0;
    background-color: $snow-transparent;
    width: 30px;
    height: calc(100% - 30px);
    &:before {
      width: 0;
      height: 0;
      left: 0;
      top: -30px;
      position: absolute;
      content: '';
      border-left: 15px solid $snow-transparent;
      border-top: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid $snow-transparent;
    }
    &:after {
      width: 0;
      height: 0;
      right: -12px;
      bottom: 0;
      position: absolute;
      content: '';
      border-left: 6px solid $snow-transparent;
      border-top: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $snow-transparent;
    }
  }
  #gallery-button {
    position: relative;
    z-index: 1000;
    background-size: contain;
    background-position: center center;
    display: flex;
    color: white;
    font-family: 'open-sans-regular';
    font-size: 14px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 35px;
    width: 100%;
    margin-top: 4px;
    background-color: $link-blue;
    box-shadow: inset 0 0 30px 5px rgba(0, 0, 0, 0.2);
    .fa {
      margin-left: 10px;
      font-size: 20px;
    }
    &:hover {
      background-color: black;
    }
  }
  @media (max-width: 768px) {
    #gallery-button {
      font-size: 12px;
      height: 35px;
    }
  }
}


.window-height {
  min-height: calc(100vh - 189px);
}

.title-container {
  position: relative;
  display: block;
  width: 100%;
}

.title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  img.title-desktop {
    width: 100%;
    max-width: 800px;
  }
  img.title-mobile {
    margin: 20px;
    margin-top: 0;
    width: 100%;
    max-width: 350px;
    display: none;
  }
  @media (max-width: 768px) {
    img.title-desktop {
      display: none;
    }
    img.title-mobile {
      display: block;
    }
  }
}

  #sign-up-buttons-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    a.main-btn {
      display: flex;
      height: 35px;
      width: 100%;
      color: white;
      margin-top: 4px;
      position: relative;
      z-index: 1000;
      background-color: $link-blue;
      font-family: 'open-sans-regular';
      font-size: 14px;
      justify-content: center;
      align-items: center;
      box-shadow: inset 0 0 30px 5px rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: black;
      }
      .fa {
        margin-left: 10px;
        font-size: 22px;
      }
      .fa-envelope {
        font-size: 20px;
        margin-bottom: 2px;
      }
  }
}

@media (max-width: 768px) {
  #sign-up-buttons-container {
    a.main-btn {
      font-size: 12px;
      height: 35px;
      .fa {
        font-size: 18px;
      }
    }
  }
}
// sampled users
.sampled-users-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  .user-plate {

  }
}
@media (max-width: 768px) {
  .sampled-users-container {
    display: block;

  }
}
#placeholder {
  background-color: $gray-green;
  height: 34px;
  width: 100%;
}
// PITCH
.elevator-pitch-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gametiks-green;
  .elevator-pitch {
    .stars {
    }
    width: 100%;
    margin: 40px;
    text-align: center;
    white-space: nowrap;
    p {
      line-height: 70px;
      padding-top: 15px;
      color: white;
      font-family: 'teko-light';
      letter-spacing: 2px;
      font-size: 38px;
    }
    @media (max-width: 768px) {
      p {
        font-size: 20px;
      }
    }
  }
}

// overrides default settings in user_plate.scss
.home-plate {
  height: 260px;
  padding: 10px 0 20px 0;
}
@media (max-width: 768px) {
  .home-plate {
    height: 400px !important;
  }
}

#tallies-badges-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $cloudy;
  #tallies-badges {
    max-width: 900px;
    margin: 0 auto;
    #tallies {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: $cloudy;
      ul {
        margin: 10px;
        max-width: 400px;
        height: 120px;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 1px 1px 10px rgba(150, 150, 150, 0.3);
        header {
          img {
            height: 110px;
            width: 110px;
          }
        }
        li {
          img {
            height: 110px;
          }
        }
      }
    }
    #badges {
      background-color: $cloudy;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin: 10px;
          height: 120px;
          width: 120px;
          background-color: white;
          box-shadow: 1px 1px 10px rgba(150, 150, 150, 0.3);
          img {
            height: 100%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

#staff-pick-container {
  width: 100%;
  background-color: #222;
  padding-bottom: 20px;
  #first-row {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    #three-stars {
      height: 60px;
      padding-top: 10px;
      img {
        margin: 0 auto;
        display: block;
        height: 40px;
      }
    }
    #name-container {
      width: 320px;
      max-width: 90%;
      margin: 0 auto;
      a {
        color: white;
        font-family: 'teko-light';
        font-size: 34px;
        width: 100%;
        height: 100%;
        line-height: 34px;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  #second-row {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    #staff-pick {
      #log-wrapper {
        height: 100%;
        display: inline;
        .log {
          box-shadow: none;
          max-width: 400px;
        }
      }
    }
    .stars {
      img {
        height: 300px;
        margin: 30px;
      }
    }
  }
}
