@import './variables';

.navbar {
  background-color: transparent;
  background-image: none;
 }

body {
  overflow-x: hidden;
  position: relative;
  display: block;
  min-height: calc(100vh - 200px);
  color: #000;
  font-family: sans-serif, helvetica;
  font-size: 13px;
  line-height: 18px;
}

ul,li { list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;
      }

p, ol, ul, td {
  font-family: sans-serif, helvetica;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

a {
  color: white;
  text-decoration: none;
  outline: none;

  &:visited {
  }

  &:hover {
    text-decoration: none;
    color: white;
  }

}

#notice {
  color: magenta;
}

.field_with_errors {
  background-color: $gametiks-red;
  box-shadow: 0 0 5px $gametiks-red;
}

#error_explanation {
  border: 2px solid $gametiks-red;
}
