@import '../../variables';

#logbook-header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  top: -30px;
  #left {
    background-color: transparent;
  }
  #center {
    position: relative;
    background-color: $cloudy;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
      position: absolute;
      right: -30px;
      content: '';
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-right: 15px solid transparent;
      border-left: 15px solid $cloudy;
      border-bottom: 15px solid $cloudy;
    }
    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      left: -30px;
      border-top: 15px solid transparent;
      border-right: 15px solid $cloudy;
      border-bottom: 15px solid $cloudy;
      border-left: 15px solid transparent;
    }

    #logbook-title-container {
      position: relative;
      top: 15px;
      height: 56px;
      background-color: $gametiks-green;
      z-index: 30;
      &:before {
        position: absolute;
        top: 0px;
        left: -28px;
        content: '';
        border-left: 14px solid transparent;
        border-right: 14px solid $gametiks-green;
        border-bottom: 14px solid $gametiks-green;
        border-top: 14px solid transparent;
      }
      #triangle-left {
        position: absolute;
        top: 28px;
        left: -28px;
        content: '';
        border-right: 14px solid $gametiks-green;
        border-left: 14px solid transparent;
        border-top: 14px solid $gametiks-green;
        border-bottom: 14px solid transparent;
      }
      &:after {
        position: absolute;
        top: 0px;
        right: -28px;
        content: '';
        border-right: 14px solid transparent;
        border-left: 14px solid $gametiks-green;
        border-bottom: 14px solid $gametiks-green;
        border-top: 14px solid transparent;
        z-index: 1;
      }
      #triangle-right {
        position: absolute;
        top: 28px;
        right: -28px;
        content: '';
        border-right: 14px solid transparent;
        border-left: 14px solid $gametiks-green;
        border-top: 14px solid $gametiks-green;
        border-bottom: 14px solid transparent;
      }
      #button-left-container {
        position: absolute;
        top: 0;
        left: calc(-100% - 28px);
        width: calc(100% + 14px);
        border: 1px solid $gray-50;
        border-right: 2px solid $gray-50;
        height: 28px;
        background-color: $gray-green;
        -webkit-transform: skew(-45deg);
  	    -moz-transform: skew(-45deg);
  	    -o-transform: skew(-45deg);
        box-shadow: inset 0 0 25px $gametiks-green;
        &:hover {
          background-color: $water-blue;
        }
        #button-left {
          position: absolute;
          top: 0;
          width: 100%;
          height: 28px;
          text-align: center;
          cursor: pointer;
          letter-spacing: 2px;
          overflow: hidden;
          color: white;
          line-height: 26px;
          font-family: 'open-sans-regular';
          font-size: 12px;
          -webkit-transform: skew(45deg);
          -moz-transform: skew(45deg);
          -o-transform: skew(45deg);
        }
      }

      #button-right-container {
        position: absolute;
        top: 0;
        right: calc(-100% - 28px);
        width: calc(100% + 14px);
        border: 1px solid $gray-50;
        border-left: 2px solid $gray-50;
        height: 28px;
        background-color: $gray-green;
        -webkit-transform: skew(45deg);
  	    -moz-transform: skew(45deg);
  	    -o-transform: skew(45deg);
        box-shadow: inset 0 0 25px $gametiks-green;
        z-index: 2;
        &:hover {
          background-color: $water-blue;
        }
        #button-right {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 28px;
          text-align: center;
          cursor: pointer;
          letter-spacing: 2px;
          line-height: 26px;
          overflow: hidden;
          color: white;
          font-family: 'open-sans-regular';
          font-size: 12px;
          -webkit-transform: skew(-45deg);
          -moz-transform: skew(-45deg);
          -o-transform: skew(-45deg);
        }
      }

      #title {
        h3 {
          position: absolute;
          top: -20px;
          left: 0;
          color: white;
          font-family: 'teko-light';
          font-size: 34px;
          width: 100%;
          height: 40px;
          line-height: 60px;
          letter-spacing: 3px;
          text-shadow: 0 0 100px white;
        }
      }
    }

  }
  #right {
    background-color: transparent;
  }
}
