@import '../../variables';

#columns {
  column-width: 400px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin-top: 15px;
}

#logbook-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: $cloudy;
  position: relative;
    #logbook {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 32px;
    margin-bottom: 50px;
    background-color: rgb(220, 220, 220);
  }
}

.log {
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  display: inline-block;
  column-break-inside: avoid;
  color: $gray-dark;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  box-shadow: 1px 1px 6px rgba(200,200,200,0.9);
  .img-infoscreen {
    font-family: 'share-tech';
    height: auto;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 1px 200px rgb(30, 30, 30);
    font-size: 14px;
    color: #6b8c88;
    text-shadow: 0 0 15px rgba(190, 200, 210, 0.3);
    padding: 10px;
    #text-wrapper {
      max-width: 400px;
      display: block;
      margin: 0 auto;
      h5 {
        font-family: inherit;
        font-size: 12px;
        color: rgba(107, 140, 136, 0.5);
        text-shadow: 0 0 10px rgba(180, 190, 200, 0.2);
      }
      h4 {
        font-family: inherit;
        font-size: 14px;
        padding: 5px;
        height: 20px;
        margin-top: 0;
        .stats-label {
          font-size: 15px;
          color: #6b8c88;
          text-align: left;
          float: left;
          text-shadow: 0 0 15px rgba(190, 200, 210, 0.3);
        }
        @media (max-width: 768px) {
          .stats-label {
            font-size: 12px;
          }
        }
        .field {
          text-align: right;
          width: 150px;
          overflow: hidden;
          float: right;
          padding: 2px 5px 0 5px;
          margin-right: 5px;
          color: $gametiks-orange;
          margin-bottom: 2px;
          border: 1px solid rgba(107, 140, 136, 0.3);
          text-shadow: 0 0 10px $gametiks-orange-shadow;
          border-radius: 3px;
        }
        @media (max-width: 768px) {
          .field {
            width: 150px;
            font-size: 12px;
          }
        }
      }
      p {
        color: $gray-green-glow;
        font-family: 'open-sans-regular';
        margin: 0;
        border-top: 1px solid #6b8c88;
        display: block;
        padding: 6px;
      }
    }
  }
  .links {
    height: 30px;
    padding: 6px;
    text-align: center;
    width: auto;
    a {
      display: inline-block;
      color: white;
      width: 100px;
      background-color: $gametiks-green;
      padding: 3px;
    }
  }
  img {
    margin: 0 10px 5px 0;
  }
  img.harvest-img {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: block;
    margin-bottom: 0;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    img.harvest-img {
    }
  }
  p {
    color: $text-gray;
  }
}
