@import '../../variables';

#columns {
  column-width: 400px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin-top: 15px;
}

#logbook-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: $cloudy;
  position: relative;
    #logbook {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 32px;
    margin-bottom: 50px;
    background-color: rgb(220, 220, 220);
    .log {
      box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
      padding: 15px;
      display: inline-block;
      column-break-inside: avoid;
      color: $gray-dark;
      margin-bottom: 15px;
      width: 100%;
      border-radius: 5px;
      background-color: rgb(245, 245, 245);
      padding: 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 6px rgba(200,200,200,0.9);
      min-width: 400px;
      .links {
        text-align: center;
        a {
          color: white;
          background-color: $gametiks-green;
          padding: 3px 10px;
          border-radius: 3px;
        }
      }
      img {
        float: left;
        margin: 0 10px 5px 0;
        border-radius: 3px;
      }
      p {
        color: $text-gray;
      }
      .stamps-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          height: 80px;
          padding: 5px;
          margin: 0;
        }
      }
    }
  }
}
