@import '../variables';

#badges-container {
  width: 100%;
  position: absolute;
  left: 200%;
  display: flex;
  justify-content: center;
  align-items: center;

  #badges {
    height: 430px;
    width: 750px;
    margin: 14px;
    border-radius: 3px;
  }
  ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li {
      background-color: rgba(240, 240, 240, 0.3);
      border-radius: 3px;
      margin: 3px;
      width: 130px;
      height: 130px;
    }
  }
}
