@import '../variables';

.contacts-active {
  right: 12px !important;
}

#contacts-container {
  width: 200px;
  position: absolute;
  right: -180px;
  top: 60px;
  height: auto;
  padding: 10px 3px;
  border-radius: 5px 0 0 0;
  background-color: $deep-ivory;
  z-index: 100;
  text-align: center;
  .fa {
    color: $water-blue-transparent;
  }
  #contacts-handle {
    position: absolute;
    display: flex;
    left: -16px;
    top: 20px;
    height: 60px;
    padding: 2px;
    width: 16px;
    background-color: $handle-gray;
    border-right: 1px solid $cloudy;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    #vertical-line {
      position: relative;
      margin-left: 2px;
      border-left: 1px solid $gray;
      height: 100%;
    }
  }
  #contacts-label {
    font-family: 'teko-light';
    font-size: 40px;
    line-height: 44px;
    position: relative;
    background-color: $water-blue-transparent;
    height: 36px;
    text-align: center;
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
  }
  #contacts {
    position: relative;
    color: $gray-dark;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: auto;
    background-color: transparent;
    .contact {
      position: relative;
      font-size: 14px;
      font-family: 'share-tech';
      border-top: 1px solid $gray-dark;
      border-bottom: 1px solid $gray;
      // background: -webkit-linear-gradient(90deg, $angled-shadow, transparent, $angled-shadow 60%, transparent);
      // background: -o-linear-gradient(90deg, $angled-shadow, transparent, $angled-shadow 60%, transparent);
      // background: -moz-linear-gradient(90deg, $angled-shadow, transparent, $angled-shadow 60%, transparent);
      background: linear-gradient(90deg, $angled-shadow, transparent, $angled-shadow 450%, transparent 75%, $angled-shadow 90%, transparent);
      box-shadow: inset 1px 4px 8px 25px rgba(30, 30, 30, 0.2);
      height: 36px;
      border-radius: 3px;
      margin: 3px 0;
      color: white;
      padding: 10px;
      letter-spacing: 1px;
      cursor: pointer;
      .backing {
        position: absolute;
        top: 0;
        left: 0;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        // background: -webkit-radial-gradient($gametiks-green-transparent, transparent);
        // background: -o-radial-gradient($contact-gray, transparent);
        // background: -moz-radial-gradient($contact-gray, transparent);
        background: radial-gradient($link-blue, transparent);
        height: 100%;
        border: 1px solid transparent;
        width: 100%;
        border-radius: 3px;
        color: $cloudy;
        cursor: pointer;
        z-index: -2;
      }
      .second-backing {
        position: absolute;
        top: 0;
        left: 0;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        background: linear-gradient(181deg, $shade, transparent 40%, $shade 60%, transparent, $shade);
        height: 100%;
        border: 1px solid transparent;
        width: 100%;
        border-radius: 3px;
        color: $cloudy;
        cursor: pointer;
        z-index: -3;
      }
      &:hover {
        color: white;
      }
    }
  }
  &:after {
    position: absolute;
    content: '';
    bottom: -30px;
    right: 0;
    width: 170px;
    height: 30px;
    background-color: $deep-ivory;
  }
  #decor-lower-left {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 0;
    height: 0;
    content: '';
    border-right: 15px solid $deep-ivory;
    border-top: 15px solid $deep-ivory;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}
