@import '../variables';

.contacts-active {
  right: 0 !important;
}

#contacts-container {
  width: 260px;
  position: absolute;
  right: -250px;
  top: 0;
  height: 300px;
  padding: 3px;
  background-color: $side-panel;
  box-shadow: -2px 0 50px rgba(50, 50, 50, .2);
  z-index: 100;
  text-align: center;
  header#contacts-header {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $water-blue-transparent;
    height: 30px;
    border-bottom: 1px solid $logger-gray;
    .fa {
      margin-left: 3px;
    }
  }
  #contacts-handle {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: -30px;
    top: 30px;
    height: 110px;
    padding: 2px;
    width: 30px;
    background-color: $handle-gray;
    border-top: 10px solid $side-panel;
    border-bottom: 10px solid $side-panel;
    cursor: pointer;
    // box-shadow: -2px 0 30px rgba(50, 50, 50, .1);
    #vertical-line {
      position: relative;
      margin-right: 3px;
      border-right: 1px solid rgba(170, 170, 170, .6);
      height: 100%;
    }
    &:before {
      content: '';
      position: absolute;
      top: -40px;
      right: 0;
      width: 0;
      height: 0;
      border-right: 15px solid $side-panel;
      border-bottom: 15px solid $side-panel;
      border-top: 15px solid transparent;
      border-left: 15px solid transparent;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -40px;
      right: 0;
      width: 0;
      height: 0;
      border-right: 15px solid $side-panel;
      border-top: 15px solid $side-panel;
      border-bottom: 15px solid transparent;
      border-left: 15px solid transparent;
    }
  }

  #contact-list-container {
    position: relative;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 260px;
    background-color: transparent;
    overflow: -moz-scrollbars-none;
    border-radius: 3px;
    #contacts {
      position: absolute;
      left: -10px;
      overflow: -moz-scrollbars-none;
      overflow-x: hidden;
      overflow-y: scroll;
      width: 254px;
      transform: translateX(10px);
      ul {
        width: 100%;
        padding: 2px;
        li.contact {
          border-bottom: 1px solid $logger-gray;
          position: relative;
          height: 26px;
          margin: 0;
          padding: 6px;
          a {
            font-size: 12px;
            cursor: pointer;
            color: $water-blue-transparent;
          }
          #arrow-right {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;
            top: 0;
            opacity: 0;
            height: 100%;
            width: 26px;
            -webkit-transition: opacity .3s, -webkit-transform .3s;
            transition: opacity .3s, transform .3s;
            #arrow-right-icon {
              color: $water-blue-transparent;
            }
          }
          &:hover {
            color: $water-blue-transparent;
          }
        }
      }

    }
  }
  #contacts::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
  #contact-list-container::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
}

#contacts-container {
  &:after {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 20px;
    width: 240px;
    height: 20px;
    background-color: $handle-gray;
  }
  #decor-lower-left {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 0;
    height: 0;
    content: '';
    border-right: 10px solid $handle-gray;
    border-top: 10px solid $handle-gray;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}
