@import '../variables';

.contacts-active {
  right: 0 !important;
}

#contacts-container {
  width: 260px;
  position: absolute;
  right: -255px;
  top: 0;
  min-height: 300px;
  max-height: 75%;
  padding: 3px;
  border-radius: 5px 0 0 0;
  background-color: $side-panel;
  box-shadow: -2px 0 50px rgba(50, 50, 50, .2);
  z-index: 100;
  text-align: center;
  header#contacts-header {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'teko-light';
    font-size: 40px;
    margin-top: 5px;
    background-color: $water-blue-transparent;
    color: white;
    height: 36px;
    line-height: 44px;
    padding-top: 7px;
    border-bottom: 1px solid $logger-gray;
  }
  .fa-user-circle {
    margin: 5px;
    font-size: 26px;
    color: $water-blue-transparent;
  }
  #contacts-handle {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: -28px;
    top: 8px;
    height: 90px;
    padding: 2px;
    width: 30px;
    background-color: $side-panel;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    #vertical-line {
      position: relative;
      margin-right: 2px;
      border-right: 1px solid rgba(170, 170, 170, .6);
      height: 100%;
    }
  }

  #contact-list-container {
    position: relative;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 260px;
    background-color: transparent;
    overflow: -moz-scrollbars-none;
    border-radius: 3px;
    #contacts {
      position: absolute;
      left: -10px;
      overflow: -moz-scrollbars-none;
      overflow-x: hidden;
      overflow-y: scroll;
      width: 254px;
      transform: translateX(10px);
      ul {
        width: 100%;
        padding: 2px;
        li.contact {
          border-bottom: 1px solid $logger-gray;
          position: relative;
          height: 24px;
          margin: 0;
          padding: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            font-size: 12px;
            cursor: pointer;
            color: $water-blue-transparent;
          }
          i#message-bubble {
            margin-left: 10px;
            cursor: pointer;
            color: $water-blue-transparent;
          }
          #arrow-right {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;
            top: 0;
            opacity: 0;
            height: 100%;
            width: 26px;
            -webkit-transition: opacity .3s, -webkit-transform .3s;
            transition: opacity .3s, transform .3s;
            #arrow-right-icon {
              color: $water-blue-transparent;
            }
          }
          &:hover {
            color: $water-blue-transparent;

          }
          #delete-user {
            display: none;
            position: absolute;
            right: 2px;
            top: 3px;
            width: 15px;
            height: 15px;
            form {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              input {
                background: transparent;
                border: none;
                height: 15px;
                width: 15px;
                margin-bottom: 5px;
              }
            }
            #deleter-icon {
              color: $gametiks-red;
              position: absolute;
              z-index: 1;
              top: 1px;
              right: 1px;
              cursor: pointer;
            }
          }
        }
      }

    }
  }
  #contacts::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
  #contact-list-container::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
}

#contacts-container {
  &:after {
    position: absolute;
    content: '';
    bottom: -30px;
    left: 30px;
    width: 240px;
    height: 30px;
    background-color: $side-panel;
  }
  #decor-lower-left {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 0;
    height: 0;
    content: '';
    border-right: 15px solid $side-panel;
    border-top: 15px solid $side-panel;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    z-index: 1000;
  }
}
