@import '../variables';

#columns {
  column-width: 400px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin-top: 15px;
}

#logbook-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: $cloudy;
  position: relative;
  #title-container {
    position: absolute;
    top: -20px;
    width: 400px;
    height: 40px;
    background-color: $gray-green;
    &:before {
      position: absolute;
      top: 0px;
      left: -20px;
      content: '';
      border-left: 10px solid transparent;
      border-right: 10px solid $gray-green;
      border-bottom: 10px solid $gray-green;
      border-top: 10px solid transparent;
    }
    #triangle-left {
      position: absolute;
      top: 20px;
      left: -20px;
      content: '';
      border-right: 10px solid $gray-green;
      border-left: 10px solid transparent;
      border-top: 10px solid $gray-green;
      border-bottom: 10px solid transparent;
    }
    &:after {
      position: absolute;
      top: 0px;
      right: -20px;
      content: '';
      border-right: 10px solid transparent;
      border-left: 10px solid $gray-green;
      border-bottom: 10px solid $gray-green;
      border-top: 10px solid transparent;
    }
    #triangle-right {
      position: absolute;
      top: 20px;
      right: -20px;
      content: '';
      border-right: 10px solid transparent;
      border-left: 10px solid $gray-green;
      border-top: 10px solid $gray-green;
      border-bottom: 10px solid transparent;
    }
    #button-left-container {
      position: absolute;
      top: 0;
      left: -149px;
      width: 138px;
      height: 20px;
      background-color: $gametiks-green;
      -webkit-transform: skew(-45deg);
	    -moz-transform: skew(-45deg);
	    -o-transform: skew(-45deg);
      &:hover {
        background-color: $link-blue;
      }
      #button-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 138px;
        height: 20px;
        text-align: center;
        padding: 2px;
        cursor: pointer;
        letter-spacing: 2px;
        overflow: hidden;
        color: white;
        -webkit-transform: skew(45deg);
        -moz-transform: skew(45deg);
        -o-transform: skew(45deg);
      }
    }
    #button-right-container {
      position: absolute;
      top: 0;
      right: -149px;
      width: 138px;
      height: 20px;
      background-color: $gametiks-green;
      -webkit-transform: skew(45deg);
	    -moz-transform: skew(45deg);
	    -o-transform: skew(45deg);
      &:hover {
        background-color: $link-blue;
      }
      #button-right {
        position: absolute;
        top: 0;
        left: 0;
        width: 138px;
        height: 20px;
        text-align: center;
        padding: 2px;
        cursor: pointer;
        letter-spacing: 2px;
        overflow: hidden;
        color: white;
        -webkit-transform: skew(-45deg);
        -moz-transform: skew(-45deg);
        -o-transform: skew(-45deg);
      }
    }
    #title {
      h3 {
        position: absolute;
        top: -20px;
        color: white;
        font-family: 'teko-light';
        font-size: 34px;
        width: 100%;
        height: 40px;
        padding-top: 3px;
        letter-spacing: 3px;
        background: -webkit-radial-gradient($gametiks-green, $gametiks-green, transparent, transparent);
        background: -o-radial-gradient($gametiks-green, $gametiks-green, transparent, transparent);
        background: -moz-radial-gradient($gametiks-green, $gametiks-green, transparent, transparent);
        background: radial-gradient($gametiks-green, $gametiks-green, transparent, transparent);
      }
    }
  }
    #logbook {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 700px;
    height: auto;
    margin-top: 32px;
    margin-bottom: 50px;
    background-color: rgb(220, 220, 220);
    .log {
      box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
      padding: 15px;
      display: inline-block;
      column-break-inside: avoid;
      color: $gray-dark;
      margin-bottom: 15px;
      width: 100%;
      border-radius: 5px;
      background-color: rgb(245, 245, 245);
      padding: 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 6px rgba(200,200,200,0.9);
      min-width: 400px;
      .links {
        text-align: center;
        a {
          color: white;
          background-color: $gametiks-green;
          padding: 3px 10px;
          border-radius: 3px;
        }
      }
      img {
        float: left;
        margin: 0 10px 5px 0;
        border-radius: 3px;
      }
      p {
        color: $gray-dark;
        font-weight: 500;
      }
      .stamps-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          height: 80px;
          padding: 5px;
          margin: 0;
        }
      }
    }
  }
}
