@import '../variables';

#logbook-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: $cloudy;
  padding: 10px;
  position: relative;
  #title-container {
    position: absolute;
    top: -20px;
    width: 600px;
    height: 40px;
    background-color: $gray-green;
    &:before {
      position: absolute;
      top: 0px;
      left: -20px;
      content: '';
      border-left: 10px solid transparent;
      border-right: 10px solid $gray-green;
      border-bottom: 10px solid $gray-green;
      border-top: 10px solid transparent;
    }
    #square-left {
      position: absolute;
      top: 20px;
      left: -20px;
      content: '';
      border-right: 10px solid $gray-green;
      border-left: 10px solid $gray-green;
      border-top: 10px solid $gray-green;
      border-bottom: 10px solid $gray-green;
    }
    &:after {
      position: absolute;
      top: 0px;
      right: -20px;
      content: '';
      border-right: 10px solid transparent;
      border-left: 10px solid $gray-green;
      border-bottom: 10px solid $gray-green;
      border-top: 10px solid transparent;
    }
    #square-right {
      position: absolute;
      top: 20px;
      right: -20px;
      content: '';
      border-right: 10px solid $gray-green;
      border-left: 10px solid $gray-green;
      border-top: 10px solid $gray-green;
      border-bottom: 10px solid $gray-green;
    }
    #title {
      h3 {
        position: absolute;
        top: -20px;
        color: white;
        font-family: 'teko-light';
        font-size: 34px;
        width: 100%;
        height: 40px;
        padding-top: 3px;
        letter-spacing: 3px;
        background: -webkit-radial-gradient($gametiks-green, $gametiks-green, transparent, transparent);
        background: -o-radial-gradient($gametiks-green, $gametiks-green, transparent, transparent);
        background: -moz-radial-gradient($gametiks-green, $gametiks-green, transparent, transparent);
        background: radial-gradient($gametiks-green, $gametiks-green, transparent, transparent);
      }
    }
  }
    #logbook {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-width: 700px;
    height: auto;
    margin-top: 22px;
    border-radius: 5px;
    background-color: $gray-green;
    border: 1px solid $gray;
    box-shadow: inset 1px 1px 3px $gray-dark;
    .log {
      flex: 0 0 600px;
      color: $gray-dark;
      margin: 15px;
      padding: 10px;
      width: 100%;
      border: 1px solid $gray;
      border-radius: 5px;
      box-shadow: 1px 1px 3px $gray-dark;
      background-color: $cloudy;
      padding: 10px;
      border-radius: 5px;
      border: 2px solid $transparent-gray;
      box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
      min-width: 400px;
      .links {
        text-align: center;
        a {
          color: white;
          background-color: $gametiks-green;
          padding: 3px 10px;
          border-radius: 3px;
        }
      }
      img {
        float: left;
        margin: 0 10px 5px 0;
        border-radius: 3px;
      }
      p {
        color: $gray-dark;
        font-weight: 500;
      }
      .stamps-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          height: 80px;
          padding: 5px;
          margin: 0;
        }
      }
    }
  }
}
