@import '../variables';

#tiks-container {
  width: 100%;
  position: absolute;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #tiks {
    height: 430px;
    width: 750px;
    margin: 14px;
    border-radius: 3px;
  }
}
