@import '../variables';

#leaderboard-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 120px);
  width: 100%;
  background-color: white;
}
ul #leaderboard {
  font-family: 'open-sans-semibold';
  border-radius: 5px;
  margin: 10px 20px 50px 20px;
  li {
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    justify-content: space-between;
    color: $gray-dark;
    font-size: 16px;
    .place {
      font-family: 'share-tech';
      margin-right: 30px;
      margin-left: 5px;
      display: block;
      line-height: 30px;
    }
    .user-link {
      height: 30px;
      position: relative;
      padding: 6px;
      padding-left: 25px;
      text-align: center;
      a {
        color: $gray-dark;
        position: relative;
        img {
          position: absolute;
          left: -32px;
          top: -2px;
          border-radius: 100%;
          height: 26px;
        }
      }
    }
    .points {
      font-family: 'share-tech';
      margin-right: 5px;
      display: block;
      line-height: 30px;
    }
  }

}

#leaderboard-header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-radius: 3px;
  color: $gray-dark;
  font-family: 'open-sans-semibold';
  padding-left: 10px;
  padding-right: 10px;
  span {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.paginate {
  font-family: 'open-sans-semibold';
  text-transform: uppercase;
  color: $gray-dark;
  a {
    font-family: 'open-sans-semibold';
    color: $water-blue-transparent;
  }
}

.harvest-catalog {
  background-color: $transparent-gray;
  margin: 10px 0 0 0;
  padding: 10px;
  border-radius: 5px;
  border-color: $transparent-gray;
  border-width: 2px;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;

  .harvest_block {
    margin: 0 auto;
    border-bottom: 1px solid $gametiks-gray;
  }

  .harvest_data {
  padding: 20px;
  background-color: $gametiks-green;
  color: $gametiks-gray;
  text-align: left;
  font-size: 12px;
  line-height: 22px;
  width: 400px;
  }

  .harvest_category {
    background-color: $gametiks-green;
  }
}
