@import '../variables';

// styled separator with industrial-look
#user-nav {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: relative;
  #left {
    background-color: transparent;
  }
  #center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 670px;
    background-color: $cloudy;
    position: relative;
    nav#user-records {
      position: absolute;
      top: -2px;
      width: 700px;
      height: 100%;
      ul {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 616px;
        height: 24px;
        text-align: center;
        margin: 0 auto;
        padding: 1px;
        li {
          position: relative;
          letter-spacing: 2px;
          color: white;
          width: 200px;
          padding: 1px;
          cursor: pointer;
          margin: 0 .5px;
          background-color: $semi-transparent-green;
          &:hover {
            background-color: $link-blue;
          }
        }
        li#map-tab {
          &:before {
            position: absolute;
            top: 10px;
            left: -11px;
            content: '';
            border-left: 5px solid transparent;
            border-right: 5px solid $semi-transparent-green;
            border-top: 5px solid $semi-transparent-green;
            border-bottom: 5px solid transparent;
          }
          .square {
            position: absolute;
            top: 0;
            left: -11px;
            content: '';
            border-right: 5px solid $semi-transparent-green;
            border-left: 5px solid $semi-transparent-green;
            border-top: 5px solid $semi-transparent-green;
            border-bottom: 5px solid $semi-transparent-green;
          }
        }
        li#tiks-tab {

        }
        li#badges-tab {
          &:after {
            position: absolute;
            top: 10px;
            right: -11px;
            content: '';
            border-right: 5px solid transparent;
            border-left: 5px solid $semi-transparent-green;
            border-top: 5px solid $semi-transparent-green;
            border-bottom: 5px solid transparent;
          }
          .square {
            position: absolute;
            top: 0;
            right: -11px;
            content: '';
            border-right: 5px solid $semi-transparent-green;
            border-left: 5px solid $semi-transparent-green;
            border-top: 5px solid $semi-transparent-green;
            border-bottom: 5px solid $semi-transparent-green;
          }
        }
      }
    }
    &:after {
      position: absolute;
      right: -30px;
      content: '';
      width: 0;
      height: 0;
      border-top: 15px solid $cloudy;
      border-right: 15px solid transparent;
      border-left: 15px solid $cloudy;
      border-bottom: 15px solid transparent;
    }
    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      left: -30px;
      border-top: 15px solid $cloudy;
      border-right: 15px solid $cloudy;
      border-bottom: 15px solid transparent;
      border-left: 15px solid transparent;
    }
  }
  #right {
    background-color: transparent;
  }
}
