// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '../variables';


// User Info Plate
.user-plate-container {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(220, 220, 220, 0.7);
  .user-plate {
    display: flex;
    justify-content: center;
    margin: 0 50px 0 50px;
    background-color: $transparent-gray;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    border: 2px solid $transparent-gray;
    border-top: none;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
    #avatar {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 224px;
      height: 224px;
      background-color: $gray-green;
      #corner-pieces-container {
        position: absolute;
        width: 220px;
        height: 220px;
        z-index: 1;
        #upper-left {
          position: absolute;
          border-bottom: 15px solid transparent;
          border-top: 15px solid $gray-green;
          border-left: 15px solid $gray-green;
          border-right: 15px solid transparent;
        }
        #lower-right {
          position: absolute;
          bottom: 0;
          right: 0;
          border-bottom: 15px solid $gray-green;
          border-top: 15px solid transparent;
          border-left: 15px solid transparent;
          border-right: 15px solid $gray-green;
        }
      }
      #rollover-uploader {
        position: absolute;
        display: flex;
        color: transparent;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        flex-wrap: wrap;
        width: 220px;
        height: 220px;
        z-index: 2;
        background-color: $white-half-transparent;
        color: $dark-gray-transparent;
        border: 2px solid transparent;
        opacity: 0;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        outline: none;
        &:hover {
          opacity: 1;
        }
        .fa-arrow-circle-o-up {
          font-size: 120px;
          text-align: center;
          color: inherit;
          width: 100%;
          margin: 20px;
        }
        h3 {
          margin: 0;
          color: inherit;
          text-align: center;
          width: 100%;
          padding: 5px;
        }
        #upload-wrap {
          display: none;
        }
      }
      img {
      }
    }
    #user-info {

      width: 280px;
      #name-container {
        position: relative;
        margin-top: 2px;
        height: 40px;
        width: 270px;
        border-bottom: 1px solid $transparent-gray;
        background-color: $dark-green-transparent;
        h2 {
          position: absolute;
          top: -20px;
          left: 3px;
          color: white;
          font-family: 'teko-light';
          font-size: 38px;
          width: 263px;
          height: 40px;
          padding-top: 3px;
          overflow: hidden;
          background: -webkit-radial-gradient($gametiks-green, $gametiks-green, transparent, transparent);
          background: -o-radial-gradient($gametiks-green, $gametiks-green, transparent, transparent);
          background: -moz-radial-gradient($gametiks-green, $gametiks-green, transparent, transparent);
          background: radial-gradient($gametiks-green, $gametiks-green, transparent, transparent);

        }
        &:after {
          content: '';
          line-height: 0;
          font-size: 0;
          width: 0;
          height: 0;
          border-bottom: 10px solid transparent;
          border-top: 10px solid $dark-green-transparent;
          border-left: 10px solid $dark-green-transparent;
          border-right: 10px solid transparent;
          position: absolute;
          top: 20px;
          right: -20px;
        }
        #square-additive {
          width: 10px;
          height: 10px;
          font-size: 0;
          line-height: 0;
          content: '';
          border: 10px solid $dark-green-transparent;
          position: absolute;
          top: 0;
          right: -20px;
        }
      }
      #user-sub-info {

        width: 270px;
        padding-bottom: 5px;
        background-color: rgba(30, 30, 30, 0.1);
        h4 {
          font-size: 16px;
        }
          .field {
            text-align: right;
            width: 100px;
            float: right;
            padding: 2px 5px 0 5px;
            margin-right: 5px;
            color: $gametiks-orange;
            background-color: rgba(40, 40, 40, 0.9);
            margin-bottom: 2px;
          }
        h3, h4, h5, h6 {
          font-family: 'share-tech';
          text-align: left;
          padding-left: 5px;
        }
      }
      #activated {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 14px;
      }
    }
    #user-level {
      height: 100%;
      width: 220px;

      background: none;
      background: -webkit-radial-gradient(white, transparent, transparent);
      background: -o-radial-gradient(white, transparent, transparent);
      background: -moz-radial-gradient(white, transparent, transparent);
      background: radial-gradient(white, transparent, transparent);
      #level-badge {
        width: 220px;
        height: 220px;
      }
    }
  }
}

#upload-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 40px;

  #btn-panel {
    font-family: 'teko-light';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 100%;
    height: 40px;
    a {
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 22px;
      letter-spacing: 2px;
      line-height: 29px;
      color: white;
      border: 2px solid $gametiks-green;
      border-radius: 3px;
      outline: none;
      background-color: $dark-green-transparent;
      box-shadow: inset 0 0 30px 5px $transparent-gray;
      &:hover {
        background-color: $snow-transparent;
        border: 2px solid $gametiks-green;
        box-shadow: inset 0 0 30px 5px $semi-transparent-gray;
        color: $gametiks-green;
      }
    }
  }
}

// styled separator with industrial-look
#styled-separator-container {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: relative;
  #left {
    background-color: transparent;
  }
  #center {
    position: relative;
    flex-basis: 770px;
    background-color: rgba(220, 220, 220, 0.7);
    &:after {
      position: absolute;
      right: -20px;
      content: '';
      width: 0;
      height: 0;
      border-top: 10px solid rgba(220, 220, 220, 0.7);
      border-right: 10px solid transparent;
      border-left: 10px solid rgba(220, 220, 220, 0.7);
      border-bottom: 10px solid transparent;
    }
    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      left: -20px;
      border-top: 10px solid rgba(220, 220, 220, 0.7);
      border-right: 10px solid rgba(220, 220, 220, 0.7);
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
    }
  }
  #right {
    background-color: transparent;
  }
}

.log-book-mapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #log-book-map {
    height: 400px;
    width: 730px;
    margin: 20px;
    border: 15px solid $frost;
    border-radius: 5px;
  }
}

h2 {
  color: $gametiks-tech-green;
  font-family: tahoma;
  display: inline;
  font-size: 12px;
  vertical-align: bottom;
  padding: 0 0 0 4px;
}

h3, h4 {
  font-family: arial;
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
}

.row {
  margin: 0;
  padding: 0;
}

/* sidebar */

.gamercard {
  background-color: $transparent-gray;
  width: 100%;
  border-radius: 5px;
  padding: 2px;
}

aside {
  margin: 0;
  padding: 0;

  .user-info {
    margin: 0;
    text-align: left;
  }

  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }

  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 10px;
  }

  .user_points {
    width: 220px;
    background-color: black;
    margin: 0;
    padding: 6px;
    color: white;
    font-size: 20px;
    text-align: right;
    display: block;
  }

  .user_level {
    font-family: impact;
    width: 220px;
    height: 120px;
    background-color: $gametiks-green;
    padding-top: 50px;
    letter-spacing: 3px;
    color: $gametiks-gray;
    font-size: 100px;
    text-align: center;
    display: block;
  }

  .score_font {
    font-size: 10px;
    font-family: arial;
    vertical-align: bottom;
  }

}

/* LCD Tech Background and Border */

.lcd {
  background-color: $transparent-gray;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  border-color: $transparent-gray;
  border-width: 2px;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
}

/* Harvest Catalog */

.harvest-catalog {
  background-color: $transparent-gray;
  margin: 10px 0 0 0;
  padding: 10px;
  border-radius: 5px;
  border-color: $transparent-gray;
  border-width: 2px;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;

  .harvest_block {
    margin: 0 auto;
    border-bottom: 1px solid $gametiks-gray;
  }

  .harvest_data {
  padding: 20px;
  background-color: $gametiks-green;
  color: $gametiks-gray;
  text-align: left;
  font-size: 12px;
  line-height: 22px;
  width: 400px;
  }

  .harvest_category {
    background-color: $gametiks-green;
  }
}
