@import '../variables';

// User Info Plate

#add-contact-container {
  input#add-contact {
    width: 270px;
    height: 40px;
    font-family: 'exo2';
    font-size: 18px;
  }
}

#affirm-contact {
  width: 270px;
  height: 40px;
  font-family: 'exo2';
  font-size: 16px;
  text-align: center;
  padding: 8px;
  color: $gray-dark;
  .fa {
    color: $gametiks-green;
  }
}

.user-plate-container {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $cloudy;
  position: relative;
  .user-plate {
    display: flex;
    justify-content: center;
    margin: 5px 50px 0 50px;
    padding: 10px;
    #avatar {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 220px;
      background-color: $gray-green;
      border-radius: 100%;
      margin-right: 10px;
      i.middle-middle {
        position: absolute;
        left: 70px;
        top: 78px;
      }
      #rollover-uploader {
        position: absolute;
        display: flex;
        color: transparent;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 220px;
        height: 220px;
        z-index: 2;
        background-color: $white-half-transparent;
        color: rgba(60, 60, 60, 0.8);
        border: 2px solid transparent;
        opacity: 0;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        outline: none;
        border-radius: 100%;
        h3 {
          font-family: 'exo2';
          margin: 0;
        }
        &:hover {
          opacity: 1;
        }
        .fa-arrow-circle-o-up {
          font-size: 90px;
          text-align: center;
          color: inherit;
          width: 100%;
        }
        #upload-wrap {
          display: none;
        }
      }
      img {
        border-radius: 100%;
        border: 2px solid $gametiks-green;
      }
    }



    #user-info {
      width: 300px;
      #name-container {
        position: relative;
        margin-top: 2px;
        height: 40px;
        width: 100%;
        border-bottom: 1px solid $transparent-gray;
        background-color: $dark-green-transparent;
        background: -webkit-radial-gradient($gametiks-green, $gametiks-green, $gray-green, $gray-green);
        background: -o-radial-gradient($gametiks-green, $gametiks-green, $gray-green, $gray-green);
        background: -moz-radial-gradient($gametiks-green, $gametiks-green, $gray-green, $gray-green);
        background: radial-gradient($gametiks-green, $gametiks-green, $gray-green, $gray-green);
        text-align: center;
        padding: 3px;
        h2 {
          color: white;
          font-family: 'teko-light';
          font-size: 38px;
          width: 100%;
          height: 40px;
          overflow: hidden;
        }
        &:after {
          content: '';
          line-height: 0;
          font-size: 0;
          width: 0;
          height: 0;
          border-bottom: 10px solid transparent;
          border-top: 10px solid $dark-green-transparent;
          border-left: 10px solid $dark-green-transparent;
          border-right: 10px solid transparent;
          position: absolute;
          top: 20px;
          right: -20px;
        }
        #square-additive-right {
          width: 10px;
          height: 10px;
          font-size: 0;
          line-height: 0;
          content: '';
          border: 10px solid $dark-green-transparent;
          position: absolute;
          top: 0;
          right: -20px;
        }
        &:before {
          content: '';
          line-height: 0;
          font-size: 0;
          width: 0;
          height: 0;
          border-bottom: 10px solid transparent;
          border-top: 10px solid $dark-green-transparent;
          border-right: 10px solid $dark-green-transparent;
          border-left: 10px solid transparent;
          position: absolute;
          top: 20px;
          left: -20px;
        }
        #square-additive-left {
          width: 10px;
          height: 10px;
          font-size: 0;
          line-height: 0;
          content: '';
          border: 10px solid $dark-green-transparent;
          position: absolute;
          top: 0;
          left: -20px;
        }
      }

      #user-sub-info {
        width: 100%;
        padding: 0 5px 5px 5px;
        background-color: rgba(30, 30, 30, 0.1);
        h4 {
          font-size: 16px;
        }
          .field {
            text-align: right;
            width: 100px;
            float: right;
            padding: 2px 5px 0 5px;
            margin-right: 5px;
            color: $gametiks-orange;
            background-color: rgba(40, 40, 40, 0.9);
            margin-bottom: 2px;
          }
        h3, h4, h5, h6 {
          font-family: 'share-tech';
          text-align: left;
          padding-left: 5px;
        }
        #activated {
          margin: 0 auto;

          text-align: center;
          font-size: 14px;
        }
      }
      #upload-btn-container {
        margin-top: 4px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 34px;
        &:after {
          content: '';
          line-height: 0;
          font-size: 0;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid $dark-green-transparent;
          border-left: 10px solid $dark-green-transparent;
          border-right: 10px solid transparent;
          position: absolute;
          top: 0;
          right: -20px;
        }
        #square-additive-right {
          width: 10px;
          height: 10px;
          font-size: 0;
          line-height: 0;
          content: '';
          border: 10px solid $dark-green-transparent;
          position: absolute;
          top: 20px;
          right: -20px;
        }
        &:before {
          content: '';
          line-height: 0;
          font-size: 0;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid $dark-green-transparent;
          border-right: 10px solid $dark-green-transparent;
          border-left: 10px solid transparent;
          position: absolute;
          top: 0;
          left: -20px;
        }
        #square-additive-left {
          width: 10px;
          height: 10px;
          font-size: 0;
          line-height: 0;
          content: '';
          border: 10px solid $dark-green-transparent;
          position: absolute;
          top: 20px;
          left: -20px;
        }
        #btn-panel {
          font-family: 'teko-light';
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          a {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 24px;
            letter-spacing: 2px;
            line-height: 36px;
            color: white;
            background-color: $dark-green-transparent;
            box-shadow: inset 0 0 30px 5px $transparent-gray;
            &:hover {
              background-color: $link-blue;
              // border: 2px solid $gametiks-green;
              // box-shadow: inset 0 0 30px 5px $semi-transparent-gray;
              // color: $gametiks-green;
            }
          }
        }
      }
    }

    #user-level {
      height: 100%;
      width: 220px;
      margin-left: 10px;
      background: none;
      background: -webkit-radial-gradient(white, transparent, transparent);
      background: -o-radial-gradient(white, transparent, transparent);
      background: -moz-radial-gradient(white, transparent, transparent);
      background: radial-gradient(white, transparent, transparent);
      #level-badge {
        width: 220px;
        height: 220px;
      }
    }
  }
}
