@import '../variables';

.fixed-height {
  height: 780px;
}

.harvest-catalog {
  background-color: $transparent-gray;
  margin: 10px 0 0 0;
  padding: 10px;
  border-radius: 5px;
  border-color: $transparent-gray;
  border-width: 2px;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;

  .harvest_block {
    margin: 0 auto;
    border-bottom: 1px solid $gametiks-gray;
  }

  .harvest_data {
  padding: 20px;
  background-color: $gametiks-green;
  color: $gametiks-gray;
  text-align: left;
  font-size: 12px;
  line-height: 22px;
  width: 400px;
  }

  .harvest_category {
    background-color: $gametiks-green;
  }
}

#switchable-window {
  position: relative;
  width: 100%;
  height: 470px;
  overflow: hidden;
}
