@import '../variables';

// styled separator with industrial-look
#user-nav {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: relative;
  #left {
    background-color: transparent;
  }
  #center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $cloudy;
    position: relative;
    nav#user-records {
      position: relative;
      width: 100%;
      height: 100%;
      ul {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 28px;
        text-align: center;
        margin: 0 auto;
        padding: 1px;
        li {
          position: relative;
          letter-spacing: 2px;
          color: white;
          height: 100%;
          padding: 1px;
          cursor: pointer;
          margin: 0 .5px;
          text-align: center;
          line-height: 24px;
          font-size: 14px;
          font-family: 'open-sans-semibold';
          background-color: $semi-transparent-green;
          &:hover {
            background-color: $link-blue;
          }
        }

        @media (max-width: 768px) {
          li {
            font-family: 'teko-light';
            font-size: 20px;
            line-height: 29px;
          }
        }

        li#map-tab {
          &:before {
            position: absolute;
            top: 0;
            left: -27px;
            content: '';
            border-left: 13px solid transparent;
            border-right: 13px solid $semi-transparent-green;
            border-top: 13px solid $semi-transparent-green;
            border-bottom: 13px solid transparent;
          }
        }
        li#tiks-tab {

        }
        li#badges-tab {
          &:after {
            position: absolute;
            top: 0;
            right: -27px;
            content: '';
            border-right: 13px solid transparent;
            border-left: 13px solid $semi-transparent-green;
            border-top: 13px solid $semi-transparent-green;
            border-bottom: 13px solid transparent;
          }
        }
      }
    }
    &:after {
      position: absolute;
      right: -30px;
      content: '';
      width: 0;
      height: 0;
      border-top: 15px solid $cloudy;
      border-right: 15px solid transparent;
      border-left: 15px solid $cloudy;
      border-bottom: 15px solid transparent;
    }
    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      left: -30px;
      border-top: 15px solid $cloudy;
      border-right: 15px solid $cloudy;
      border-bottom: 15px solid transparent;
      border-left: 15px solid transparent;
    }
  }
  #right {
    background-color: transparent;
  }
}
