@import '../variables';

// User Info Plate

#add-contact-container {
  input#add-contact {
    width: 270px;
    height: 40px;
    font-size: 18px;
  }
}

.bluepulse {
  -webkit-animation-name: bluepulse; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .6s; /* Safari 4.0 - 8.0 */
  animation-name: bluepulse;
  animation-duration: .6s;
  animation-iteration-count: 7;
}
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes bluepulse {
    0% {background-color: $gray-green;}
    25% {background-color: $gray-green}
    50% {background-color: $water-blue;}
    75% {background-color: $water-blue}
    100% {background-color: $gray-green};
  }
  /* Standard syntax */
  @keyframes bluepulse {
    0% {background-color: $gray-green;}
    25% {background-color: $gray-green}
    50% {background-color: $water-blue;}
    75% {background-color: $water-blue}
    100% {background-color: $gray-green};
  }


.ribbon-container {
  position: relative;
  display: block;
  height: 34px;
  z-index: 10;
  .ribbon {
    position: absolute;
    display: block;
    height: 34px;
    width: 100%;
    text-align: center;
    background-color: $gray-green-highlight;
    padding: 3px;
    &:before, &:after {
      content: '';
      border: 17px solid $gray-green-shadow;
      position: absolute;
      top: -8px;
      z-index: -10;
    }
    &:before {
      left: -28px;
      border-right-width: 1.5em;
      border-left-color: transparent;
    }
    &:after {
      right: -28px;
      border-left-width: 1.5em;
      border-right-color: transparent;
    }
    .ribbon-content {
      &:before, &:after {
        content: '';
        border: 4px solid transparent;
        position: absolute;
        top: -8px;
      }
      &:before {
        left: 0;
        border-right: 4px solid $gray-green-dark-shadow;
        border-bottom: 4px solid $gray-green-dark-shadow;
      }
      &:after {
        right: 0;
        border-left: 4px solid $gray-green-dark-shadow;
        border-bottom: 4px solid $gray-green-dark-shadow;
      }
    }
  }
}

// outer wrapper
.user-plate-container {
  background-color: $cloudy;
  position: relative;
  display: flex;
  .user-plate {
    display: flex;
    justify-content: center;
    max-width: 1050px;
    padding: 10px;
    height: 100%;
    margin: 0 auto;
    #avatar {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 210px;
      height: 210px;
      background-color: $gray-green;
      border-radius: 100%;
      margin-top: 15px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
      img {
        width: 210px;
        height: 210px;
        border: 4px solid $gray-green;
      }
      i.middle-middle {
        position: absolute;
        left: 70px;
        top: 78px;
      }

      #rollover-uploader {
        position: absolute;
        display: flex;
        color: transparent;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px;
        height: 200px;
        z-index: 2;
        background-color: $white-half-transparent;
        color: rgba(60, 60, 60, 0.8);
        border: 2px solid transparent;
        opacity: 0;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        outline: none;
        border-radius: 100%;
        h3 {
          font-family: 'open-sans-bold';
          margin: 0;
        }
        &:hover {
          opacity: 1;
        }
        .fa-arrow-circle-o-up {
          font-size: 90px;
          text-align: center;
          color: inherit;
          width: 100%;
        }
        #upload-wrap {
          display: none;
        }
      }
      img {
        border-radius: 100%;
      }
    }

    #user-info {
      min-width: 340px;
      max-width: 500px;
      #name-container {
        h2 {
          color: white;
          font-family: 'teko-light';
          font-size: 34px;
          width: 100%;
          height: 100%;
          line-height: 34px;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      #user-sub-info {
        width: 100%;
        padding: 2px 5px 5px 5px;
        background-color: rgba(0, 0, 0, 0.7);
        margin-top: 3px;
        box-shadow: inset 1px 1px 200px rgb(30, 30, 30);
        h4 {
          font-size: 16px;
          .label {
            font-size: 15px;
            color: #6b8c88;
            text-shadow: 0 0 15px rgba(190, 200, 210, 0.3);
          }
          @media (max-width: 768px) {
            .label {
              font-size: 12px;
            }
          }
        }
          .field {
            text-align: right;
            width: 140px;
            overflow: hidden;
            float: right;
            padding: 2px 5px 0 5px;
            margin-right: 5px;
            color: $gametiks-orange;
            margin-bottom: 2px;
            border: 1px solid rgba(107, 140, 136, 0.3);
            text-shadow: 0 0 10px $gametiks-orange-shadow;
            border-radius: 3px;
          }
          @media (max-width: 768px) {
            .field {
              width: 100px;
              font-size: 12px;
            }
          }
        h3, h4, h5, h6 {
          font-family: 'share-tech';
          text-align: left;
          padding-left: 5px;
        }
        #activated {
          margin: 0 auto;
          text-align: center;
          font-size: 14px;
          color: rgba(107, 140, 136, 0.5);
          text-shadow: 0 0 10px rgba(180, 190, 200, 0.2);
          padding-top: 3px;
        }
        @media (max-width: 768px) {
          #activated {
            font-size: 12px;
          }
        }
      }
      .btn-container {
        height: 34px;
        width: 100%;
        .btn-panel {
          font-family: 'teko-light';
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background-color: $gray-green;
          a {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 24px;
            letter-spacing: 2px;
            line-height: 36px;
            color: white;
            box-shadow: inset 0 0 30px 5px $transparent-gray;
            &:hover {
              background-color: $link-blue;
            }
          }
          h3 {
            font-family: 'open-sans-semibold';
            color: $gametiks-green;
            text-align: center;
            font-size: 13px;
            letter-spacing: 2px;
            width: 100%;
            margin: 0;
          }
          .fa {
            font-size: 14px;
          }
          form {
            width: 100%;
            input#add-contact {
              height: 34px;
              width: 100%;
              background-color: transparent;
              color: white;
              font-size: 24px;
              letter-spacing: 2px;
              line-height: 33px;
              color: white;
              outline: none;
              border: none;
              border-radius: 0;
              margin: 0;
              &:hover {
                background-color: $link-blue;
              }
            }
          }
        }
      }
    }
    @media (max-width: 768px) {
      #user-info {
        min-width: 280px;
      }
    }

    #user-level {
      position: relative;
      height: 100%;
      background: none;
      background: -webkit-radial-gradient(white, transparent, transparent);
      background: -o-radial-gradient(white, transparent, transparent);
      background: -moz-radial-gradient(white, transparent, transparent);
      background: radial-gradient(white, transparent, transparent);
      #level-badge {
        width: 210px;
        height: 210px;
        margin-top: 15px;
        border: 4px solid $gray-green;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
        border-radius: 100%
      }
    }
  }
}

@media (max-width: 768px) {
  .user-plate-container {
    display: block;
  }
}
// for mobile
#bubble-images-container-block {
  height: 140px;
  display: block;
  #bubble-images-container-flex {
    height: 100%;
    display: flex;
    justify-content: center;
    #centered-div {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 335px;
      img {
        height: 160px;
        width: 160px;
        border: 4px solid $gray-green;
      }
      #left-img-container {
        height: 150px;
        width: 150px;
        position: relative;
        i.fa-spinner {
          position: absolute;
          padding: 0;
          left: 46px;
          top: 60px;
          z-index: 50;
        }
        #mobile-uploader {
          position: absolute;
          color: rgba(240, 240, 240, 0.6);
          bottom: 0;
          left: 65px;
          z-index: 49;
          background-color: transparent;
          border: 2px solid rgba(240, 240, 240, 0.6);
          border-radius: 100%;
          width: 30px;
          height: 30px;
          outline: none;
        }
        img#avatar-img-mobile {
          position: absolute;
          left: 0;
          z-index: 5;
          border-radius: 100%;
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
        }
      }
      #right-img-container {
        height: 150px;
        width: 150px;
        position: relative;
        img#level-badge-mobile {
          position: absolute;
          right: 0;
          z-index: 4;
          border-radius: 100%;
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
