@import '../variables';

// User Info Plate

#add-contact-container {
  input#add-contact {
    width: 270px;
    height: 40px;
    font-size: 18px;
  }
}

#registered-contact-container {
  margin-top: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 34px;
  padding: 0;
  &:after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid $dark-green-transparent;
    border-left: 17px solid $dark-green-transparent;
    border-right: 17px solid transparent;
    position: absolute;
    top: 0;
    right: -34px;
  }
  &:before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid $dark-green-transparent;
    border-right: 17px solid $dark-green-transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: 0;
    left: -34px;
  }
  #affirm-contact {
    font-family: 'teko-light';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: $gametiks-green;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-green-transparent;
    box-shadow: inset 0 0 30px 5px $transparent-gray;
    h3 {
      text-align: center;
      font-size: 13px;
      letter-spacing: 2px;
      margin: 0;
      padding: 0;
    }
    .fa {
      font-size: 14px;
    }
  }
}

// outer wrapper

.user-plate-container {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $cloudy;
  position: relative;
  .user-plate {
    display: flex;
    justify-content: space-around;
    margin: 5px 50px 0 50px;
    max-width: 1050px;
    padding: 10px;
    #avatar {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 220px;
      background-color: $gray-green;
      border-radius: 100%;
      i.middle-middle {
        position: absolute;
        left: 70px;
        top: 78px;
      }
      #rollover-uploader {
        position: absolute;
        display: flex;
        color: transparent;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 220px;
        height: 220px;
        z-index: 2;
        background-color: $white-half-transparent;
        color: rgba(60, 60, 60, 0.8);
        border: 2px solid transparent;
        opacity: 0;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        outline: none;
        border-radius: 100%;
        h3 {
          font-family: 'open-sans-regular';
          margin: 0;
        }
        &:hover {
          opacity: 1;
        }
        .fa-arrow-circle-o-up {
          font-size: 90px;
          text-align: center;
          color: inherit;
          width: 100%;
        }
        #upload-wrap {
          display: none;
        }
      }
      img {
        border-radius: 100%;
        border: 2px solid $link-blue-transparent;
      }
    }



    #user-info {
      min-width: 350px;
      #name-container {
        position: relative;
        margin-top: 2px;
        height: 34px;
        width: 100%;
        border-bottom: 1px solid $transparent-gray;
        background-color: $dark-green-transparent;
        text-align: center;
        box-shadow: inset 0 0 30px 5px $transparent-gray;
        padding: 3px;
        h2 {
          color: white;
          font-family: 'teko-light';
          font-size: 34px;
          width: 100%;
          height: 34px;
          line-height: 34px;
          overflow: hidden;
        }
        &:after {
          content: '';
          line-height: 0;
          font-size: 0;
          width: 0;
          height: 0;
          border-bottom: 17px solid transparent;
          border-top: 17px solid $gray-green;
          border-left: 17px solid $gray-green;
          border-right: 17px solid transparent;
          position: absolute;
          top: 0;
          right: -34px;
        }
        &:before {
          content: '';
          line-height: 0;
          font-size: 0;
          width: 0;
          height: 0;
          border-bottom: 17px solid transparent;
          border-top: 17px solid $gray-green;
          border-right: 17px solid $gray-green;
          border-left: 17px solid transparent;
          position: absolute;
          top: 0;
          left: -34px;
        }
      }

      #user-sub-info {
        width: 100%;
        padding: 2px 5px 5px 5px;
        background-color: rgba(0, 0, 0, 0.7);
        margin-top: 3px;
        box-shadow: inset 1px 1px 200px rgb(30, 30, 30);
        h4 {
          font-size: 16px;
          .label {
            font-size: 15px;
            color: #6b8c88;
            text-shadow: 0 0 15px rgba(190, 200, 210, 0.3);
          }
        }
          .field {
            text-align: right;
            width: 140px;
            overflow: hidden;
            float: right;
            padding: 2px 5px 0 5px;
            margin-right: 5px;
            color: $gametiks-orange;
            margin-bottom: 2px;
            border: 1px solid rgba(107, 140, 136, 0.3);
            text-shadow: 0 0 10px $gametiks-orange-shadow;
            border-radius: 3px;
          }
        h3, h4, h5, h6 {
          font-family: 'share-tech';
          text-align: left;
          padding-left: 5px;
        }
        #activated {
          margin: 0 auto;
          text-align: center;
          font-size: 14px;
          color: rgba(107, 140, 136, 0.5);
          text-shadow: 0 0 10px rgba(180, 190, 200, 0.2);
          padding-top: 3px;
        }
      }
      #upload-btn-container {
        margin-top: 3px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 34px;
        &:after {
          content: '';
          line-height: 0;
          font-size: 0;
          width: 0;
          height: 0;
          border-top: 17px solid transparent;
          border-bottom: 17px solid $dark-green-transparent;
          border-left: 17px solid $dark-green-transparent;
          border-right: 17px solid transparent;
          position: absolute;
          top: 0;
          right: -34px;
        }
        &:before {
          content: '';
          line-height: 0;
          font-size: 0;
          width: 0;
          height: 0;
          border-top: 17px solid transparent;
          border-bottom: 17px solid $dark-green-transparent;
          border-right: 17px solid $dark-green-transparent;
          border-left: 17px solid transparent;
          position: absolute;
          top: 0;
          left: -34px;
        }
        #btn-panel {
          font-family: 'teko-light';
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          a {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 24px;
            letter-spacing: 2px;
            line-height: 36px;
            color: white;
            background-color: $dark-green-transparent;
            box-shadow: inset 0 0 30px 5px $transparent-gray;
            &:hover {
              background-color: $link-blue;
            }
          }
        }
      }
    }

    #user-level {
      height: 100%;
      width: 220px;
      background: none;
      background: -webkit-radial-gradient(white, transparent, transparent);
      background: -o-radial-gradient(white, transparent, transparent);
      background: -moz-radial-gradient(white, transparent, transparent);
      background: radial-gradient(white, transparent, transparent);
      #level-badge {
        width: 220px;
        height: 220px;
      }
    }
  }
}
