<footer class="container-fluid footer-main">
  <div class='row'>
    <small>
      ©GAMETIKS.COM
    </small>
    <nav>
      <ul>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>
